---
layout: page_new
title: Defibrillatori Philips
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!

conversionCode: >
                    <!-- FOXYCART -->
                    <script src="//cdn.foxycart.com/defibrillatori-online/loader.js" async defer></script>
                    <!-- /FOXYCART -->


---


<div class="row">
    <hr>
    <div class="large-6 columns">

        <div class="row">
            <h3 class="subheader">Philips Heartstart HS1</h3>
            <div class="large-6 columns">
                <img src="http://placehold.it/400x300&text=[HS1]" />
            </div>
            <p>Ideale per:</p>
            <div class="large-6 columns">
                <ul>
                    <li>
                        Aziende
                    </li>
                    <li>
                        Palestre
                    </li>
                    <li>
                        Ecc
                    </li>
                </ul>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-6 columns">
                <h4 class="subheader">Per adulti</h4>
                <ul>
                    <li>
                        Aziende
                    </li>
                    <li>
                        Palestre
                    </li>
                    <li>
                        Ecc
                    </li>
                </ul>

                <p>
                980 Euro <br />
                <a href="#" class="button">Acquista subito!</a>

                </p>

            </div>
            <div class="large-6 columns">
                <h4 class="subheader">Per bambini</h4>
                <ul>
                    <li>
                        Aziende
                    </li>
                    <li>
                        Palestre
                    </li>
                    <li>
                        Ecc
                    </li>
                </ul>

                <p>
                1.100 Euro <br />
                <a href="#" class="button">Acquista subito!</a>

                </p>
            </div>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="row">
            <h3 class="subheader">Philips Heartstart FRX</h3>
            <div class="large-6 columns">
                <img src="http://placehold.it/400x300&text=[FRX]" />
            </div>

            <div class="large-6 columns">
            <p>Ideale per:</p>
                <ul>
                    <li>
                        Aziende
                    </li>
                    <li>
                        Palestre
                    </li>
                    <li>
                        Ecc
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-6 columns">
                <h4 class="subheader">Per adulti</h4>
                <ul>
                    <li>
                        Aziende
                    </li>
                    <li>
                        Palestre
                    </li>
                    <li>
                        Ecc
                    </li>
                </ul>
                <p>
                1.100 Euro <br />
                <a href="#" class="button">Acquista subito!</a>

                </p>

            </div>
            <div class="large-6 columns">
                <h4 class="subheader">Per bambini</h4>
                <ul>
                    <li>
                        Aziende
                    </li>
                    <li>
                        Palestre
                    </li>
                    <li>
                        Ecc
                    </li>
                </ul>

                <p>
                1.100 Euro <br />
                <a href="#" class="button">Acquista subito!</a>

                </p>

            </div>
        </div>
    </div>
</div>
<br>