---
title: DAE - Un apparecchio semplice che salva una vita
autore: Luca Nicola
date: 2014-04-06
published: true
tags: dae, apparecchio, teconlogia
image: "https://lh3.googleusercontent.com/-tQTgOQIdU00/U1EkYnAnbYI/AAAAAAAAmME/_BpxcfHZ6ds/h500-no/FPX0364_crop.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>