---
layout: news
pageable: true
per_page: 12
testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
showForm: main
javacriptCode: >
    <script type="text/javascript">
        var manageNews = new manageNews()
        manageNews.doDetail ()
        manageNews.doAside ()
    </script>
---
<div id="results">
</div>