@import "settings";
@import "foundation.scss";

$numeroVerde-color: #008a2e !default;

$evidence-color: #ffed00 !default;

$rosso-color: #FF0A0A !default;

$ctaButton-header-color: $evidence-color !default;
$ctaButton-radius: 30px !default;

$wufoo-columns: 4 !default;
$wufoo-has-border: yes !default;
$wufoo-border-color: darken($panel-bg, 20%) !default;
$wufoo-header-color: $ctaButton-header-color !default;
$wufoo-header-margin-top: rem-calc(12) !default;
$wufoo-header-padding-bottom: rem-calc(12) !default;

.marginFooter {
  margin: rem-calc(5px);
}

.blog-metadata{
    margin-bottom: rem-calc(10px);
    font-size: 80%;
    font-style: italic;
}

.index {
  img {
    padding-bottom: rem-calc(0px);
  }
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: $hr-border-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog {
    .abstract{
        font-style: italic;
        color: scale-color($body-font-color, $lightness: 35%);
        margin-top: rem-calc(10px);
    }
    .padding {
        padding-bottom: rem-calc(20px);
    }
    h3 {
      font-size: 140%;
    }

}

.my-orbit-caption {
    @extend .orbit-caption;
    a {
      color: #ffffff
    }
    @if $orbit-caption-position == "top" {
        position: absolute;
        top: 0;
    }
}

.slide {
        padding-bottom: rem-calc(20px);
        .over {
          top: 250px;
        }
    }

.indirizzo {
    font-size: rem-calc(12);
    line-height: rem-calc(20);
}

.menu {
  margin-top: rem-calc(2px);
  margin-bottom: rem-calc(2px);
  img {
    padding-top: rem-calc(2px);
  }
}

.small {
  font-size: em-calc(13px);
}

.marchi {
  p {
    font-size: em-calc(13px);
    font-style: italic;
    color: scale-color($body-font-color, $lightness: 35%);
  }
  img {
    padding-bottom: rem-calc(3px);
  }
}

.veryImportant {
  font-size: 300%;
  font-weight: bold;
  color: $rosso-color;
    .low {
      color: lighten($rosso-color, 50%);
    }
}

.banner {
  background-color: lighten($evidence-color, 50%);
  border-style: solid;
  border-width: 1px;
  border-color: darken($panel-bg, 20%);
  padding: rem-calc(5px);
  margin-right: rem-calc(5px);
  a {
    color: $body-font-color;
    &:hover {
      color: lighten($body-font-color, 30%);
    }
  }
  .veryImportant {
    font-size: 480%;
    font-weight: bold;
    color: $rosso-color;
  }
  .important {
    font-size: 200%;
    font-weight: bold;
    line-height: $paragraph-line-height;

  }
  .lessImportant {
    font-size: 120%;
    font-weight: bold;
  }
  .little {
    font-size: 110%;
    font-weight: bold;
  }

}


ul.small {
  p, li {
    font-size: 105%;
  }
}

.over {
top: 50px;
left: 20px;
position: absolute;
padding: em-calc(10px);
background-color: rgba(255, 255, 255, 0.8);
    h1  {
        font-family: 'Open Sans Condensed';
        font-weight: bold;
        font-size: em-calc(38px);
        span {
        color: $rosso-color;
        }
    }

    h2  {
        font-family: 'Open Sans Condensed';
        font-weight: bold;
        font-size: em-calc(25px);
        span {
        color: $rosso-color;
        }
    }
}

div.box_nverde {
    text-align: center;
    line-height: em-calc(35px);
    font-size: em-calc(18px);
    color: $numeroVerde-color;
    margin-bottom: em-calc(18px);
    .numero {
        font-size: em-calc(28px);
    }
}

header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}

footer {
    p,li,i {
      font-size: rem-calc(13px);
    }

}

.evidenza {
  background-color: lighten($wufoo-header-color, 30%);
  padding: rem-calc(7px) rem-calc(12px);
  font-weight: bold;
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  font-size: 130%;
  text-align: center;
  margin-bottom: rem-calc(12px);
}

.italic {
  font-style: italic;
}


.wufoo {
    @media #{$small} {
        @include grid-column($wufoo-columns);
    }

    @if $wufoo-has-border == yes {
      border-style: solid;
      border-width: 1px;
      border-color: $wufoo-border-color;
      box-shadow: 3px 3px 6px $wufoo-border-color;
    }

    .header {
      margin-top: $wufoo-header-margin-top;
      background-color: $wufoo-header-color;
      text-align: center;
      padding-top: $wufoo-header-padding-bottom;
      padding-bottom: $wufoo-header-padding-bottom;
      font-weight: bold;
      color: #000000;
      .big {
        font-size: rem-calc(19);
      }
      .medium {
        font-size: rem-calc(18);
      }
      .small {
        font-size: rem-calc(15);
      }

    }
  }

.ctaButton {
  @include button($bg: $ctaButton-header-color, $radius: $ctaButton-radius, $full-width: false);
  @include inset-shadow();
}

.wufooNew {
    @media #{$small} {
        @include grid-column(7);
    }

    @if $wufoo-has-border == yes {
      border-style: solid;
      border-width: 1px;
      border-color: $wufoo-border-color;
      box-shadow: 3px 3px 6px $wufoo-border-color;
    }

    .header {
      margin-top: $wufoo-header-margin-top;
      background-color: $wufoo-header-color;
      text-align: center;
      padding-top: $wufoo-header-padding-bottom;
      padding-bottom: $wufoo-header-padding-bottom;
      font-weight: bold;
      color: #000000;
      .big {
        font-size: rem-calc(19);
      }
      .medium {
        font-size: rem-calc(18);
      }
      .small {
        font-size: rem-calc(15);
      }

    }
  }

.centerBox {
    padding: rem-calc(2);
}

.bottomline {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darken($panel-bg, 20%);
}


.numero_verde {
    font-size: rem-calc(55);
    font-weight: bold;
    color: $numeroVerde-color;
    padding: rem-calc(5);
}

.main-content {
  @include grid-row;

  aside  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:3);
    // }
  }

  article  {
    @include grid-column($columns:6);
    // @media #{$medium-up} {
    //   @include grid-column($columns:8, $offset: 1);
    // }
  }

}
