---
title: Abilitarsi all'uso
immagineTestata: http://lh5.googleusercontent.com/-Rl53WkxXEw0/U0JJH6E7OjI/AAAAAAAAjL8/u36tduwBaD4/w960-h330-no/defibrillatori_legge.jpg
testoTestata:   <h1>
                    Corsi di abilitazione<br />
                    all'uso del Defibrillatore
                </h1>
                <h2>La legge <span>obbliga a formare</span> il proprio personale</h2>
---
