---
title: Come scegliere un defibrillatore
immagineTestata: http://lh5.googleusercontent.com/-Rl53WkxXEw0/U0JJH6E7OjI/AAAAAAAAjL8/u36tduwBaD4/w960-h330-no/defibrillatori_legge.jpg
testoTestata:   <h1>
                    Come Scegliere un Defibrillatore
                </h1>
                <h2>Alcuni <span>consigli</span> prima dell'acquisto.</h2>
---
