---
title: Cosa dice la Legge
immagineTestata: http://lh5.googleusercontent.com/-Rl53WkxXEw0/U0JJH6E7OjI/AAAAAAAAjL8/u36tduwBaD4/w960-h330-no/defibrillatori_legge.jpg
testoTestata:   <h1>
                    La legge Italiana sui defibrillatori
                </h1>
                <h2><span>Obbligatorio</span> per tutte le Società sportive.</h2>
---
