---
title: I defibrillatori Philips
immagineTestata: http://lh5.googleusercontent.com/-Rl53WkxXEw0/U0JJH6E7OjI/AAAAAAAAjL8/u36tduwBaD4/w960-h330-no/defibrillatori_legge.jpg
testoTestata:   <h1>
                    Defibrillatori Philips<br />
                    Semplici e Intuitivi
                </h1>
                <h2>Modelli Heartstart HS1 e FRx</h2>
---
