<% wrap_layout :layout do %>
    <%= partial("breadcrumbs_news", :locals => { :current_page => current_page}) %>
    <div class="row">
        <!-- Main Blog Content -->
        <div class="large-9 columns post" role="content">
            <%= yield %>
        </div>

        <%= partial(:aside_news) %>
    </div>

<% end %>