<!-- Sidebar -->

<aside class="large-3 columns right-menu">

    <%= partial("banner_aside", :locals => { :bannerType => 'philips'}) %>

    <h5>Ultime notizie</h5>
    <ul id="asideResults" class="side-nav">
    </ul>

</aside>