<div class="banner">
    <div class="row">

        <a href="#formContatti">
            <div class="small-12 columns">
                <span class="little">Defibrillatore Philips</span>
                <span class="veryImportant">-38%</span><br />
                <span class="little">Calcola il preventivo!</span>
            </div>
        </a>

    </div>
</div>
<hr>