<div class="banner">
    <div class="row">

        <div class="small-6 columns">
            <span class="veryImportant">38% Sconto </span><br />
        </div>

        <div class="small-6 columns hide-for-small">
            <span class="important">Fino al 30 Aprile 2014</span><br />
            <span class="lessImportant">Non perdere tempo. Calcola il tuo preventivo!</span>
            </span>

        </div>




    </div>
</div>