<div class="banner">
    <div class="row">

        <a href="#formContatti">
            <div class="small-12 columns">
                <div class="little">Defibrillatore Philips</div>
                <div class="veryImportant">-38%</div>
                <div class="little">Calcola il preventivo!</div>
            </div>
        </a>

    </div>
</div>
<hr>