<div class="row banner">

        <% if bannerType == 'discount' %>
        <a href="#formContatti">

            <div class="small-6 columns">
                <span class="veryImportant">38% Sconto </span><br />
            </div>

            <div class="small-6 columns hide-for-small">
                <span class="important">Fino al 31 Ottobre 2014</span><br />
                <span class="lessImportant">Non perdere tempo. Calcola il tuo preventivo!</span>
            </div>
        </a>

        <% end %>

        <% if bannerType == 'promo_sport' %>
            <a href="/sport">

                <div class="medium-9 small-12 columns">
                    <span class="veryImportant hide-for-small">Società sportiva?</span>
                    <span class="veryImportant show-for-small">Fai Sport?</span>
                    <br />
                    <span class="important">Scopri l'offerta per la tua squadra!</span>
                </div>

                <!-- <div class="small-1 columns hide-for-small">
                    <img src="http://lh3.googleusercontent.com/-6FX1ifNm8ms/U99204rkKFI/AAAAAAAApJo/0ovsUZ2o2Mg/w321-h324-no/lega-nazionale-dilettanti.gif">
                </div> -->

                 <div class="small-3 columns hide-for-small">
                    <div class="row">
                        <div class="small-6 columns">
                            <img src="http://lh5.googleusercontent.com/-v9enNOi3xZQ/U9932NZQcjI/AAAAAAAApKI/_4YSLIppVpQ/w363-h509-no/logo_fip_lazio.jpg">
                        </div>

                        <div class="small-6 columns">
                            <img src="http://lh6.googleusercontent.com/-RTV3zPHZz3k/U994Yi_K-tI/AAAAAAAApKo/GQQYRxqW-Xw/s196-no/logo_libertas_1.gif">
                        </div>

                    </div>
                    <div class="row">
                        <div class="small-6 columns">
                            <img src="http://lh5.googleusercontent.com/-snH5RJDQ8oI/U9955BRawtI/AAAAAAAApLU/_eoqyO1F76Y/w321-h324-no/csi_logo.jpg">
                        </div>

                        <div class="small-6 columns">
                            <img src="http://lh3.googleusercontent.com/-e80PImzBJnU/U996k949kSI/AAAAAAAApL4/RJYPTy-pkss/s300-no/AICS.png">
                        </div>

                    </div>
                </div>

            </a>

        <% end %>

        <% if bannerType == 'sport' %>
            <a href="#formContatti">

                <div class="medium-6 small-12 columns">
                    <span class="veryImportant">43% Sconto </span><br />
                </div>

                <div class="small-6 columns hide-for-small">
                    <span class="important">Per le società sportive</span><br />
                    <span class="lessImportant">Fino al 31 Ottobre! Calcola il preventivo.</span>
                </div>

            </a>

        <% end %>

        <% if bannerType == 'philips' %>

            <div class="small-5 columns hide-for-small">
                <span class="veryImportant">1.000.000 </span><br />
            </div>

            <div class="small-7 columns hide-for-small">
                <span class="important">Defibrillatori Philips in uso oggi!</span><br />
                <span class="lessImportant">Semplici, Affidabili, Intuitivi. La miglior scelta possibile</span>
            </div>

        <% end %>

</div>
