<div class="banner">
    <div class="row">

        <div class="small-4 columns">
            <span class="veryImportant">-43%</span><br />
        </div>

        <div class="small-8 columns">
            <span class="important">Fino al <i class="dataPromo"></i></span><br />
            <span class="lessImportant">Non perdere tempo. Contattaci subito!</span>
            </span>

        </div>
    </div>
</div>