<div class="row">
        <ul class="breadcrumbs">
            <li><%= link_to 'Blog', '/blog' %></li>
            <% if current_page.metadata[:page]['category'] %>
                <li><%= link_to current_page.metadata[:page]['category'].gsub('_', ' '), category_path(current_page.metadata[:page]['category']) %></li>
            <% end %>
         </ul>
</div>