<% if showForm == 'anma' %>

<iframe id="wufooIframe" height="900" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://fucinadeltag.wufoo.com/embed/s3wv1bt03ch6bc/def/header=hide&field451=::field451Data::"><a href="https://fucinadeltag.wufoo.com/forms/r1bv6w7n0mdrfqk/">Fill out my Wufoo form!</a></iframe>

<% end %>


<% if showForm == 'consumabili' %>

<iframe id="wufooIframe" height="990" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://fucinadeltag.wufoo.com/embed/r1bv6w7n0mdrfqk/def/header=hide&field451=::field451Data::"><a href="https://fucinadeltag.wufoo.com/forms/r1bv6w7n0mdrfqk/">Fill out my Wufoo form!</a></iframe>

    <!-- <div id="wufoo-r1bv6w7n0mdrfqk">
        Fill out my <a href="https://fucinadeltag.wufoo.com/forms/r1bv6w7n0mdrfqk">online form</a>.
    </div> -->
    <script type="text/javascript">
        // var r1bv6w7n0mdrfqk;(function(d, t) {
        // var s = d.createElement(t), options = {
        // 'userName':'fucinadeltag',
        // 'formHash':'r1bv6w7n0mdrfqk',
        // 'autoResize':true,
        // 'height':'641',
        // 'async':true,
        // 'host':'wufoo.com',
        // 'header':'hide',
        // 'defaultValues':'field451=::field451Data::',
        // 'ssl':false};
        // s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        // s.onload = s.onreadystatechange = function() {
        // var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        // try { r1bv6w7n0mdrfqk = new WufooForm();r1bv6w7n0mdrfqk.initialize(options);r1bv6w7n0mdrfqk.display(); } catch (e) {}};
        // var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        // })(document, 'script');
    </script>

<% end %>

<% if showForm == 'sport' %>

<iframe id="wufooIframe" height="990" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://fucinadeltag.wufoo.com/embed/r19afkvl1rcfzph/def/header=hide&field778=::field451Data::"><a href="https://fucinadeltag.wufoo.com/forms/r19afkvl1rcfzph/">Fill out my Wufoo form!</a></iframe>

<!-- <div id="wufoo-r19afkvl1rcfzph">
Fill out my <a href="https://fucinadeltag.wufoo.com/forms/r19afkvl1rcfzph">online form</a>.
</div> -->
    <script type="text/javascript">
        // var r19afkvl1rcfzph;(function(d, t) {
        // var s = d.createElement(t), options = {
        // 'userName':'fucinadeltag',
        // 'formHash':'r19afkvl1rcfzph',
        // 'autoResize':true,
        // 'height':'661',
        // 'async':true,
        // 'host':'wufoo.com',
        // 'header':'hide',
        // 'defaultValues':'field778=::field451Data::',
        // 'ssl':false};
        // s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        // s.onload = s.onreadystatechange = function() {
        // var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        // try { r19afkvl1rcfzph = new WufooForm();r19afkvl1rcfzph.initialize(options);r19afkvl1rcfzph.display(); } catch (e) {}};
        // var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        // })(document, 'script');
    </script>

<% end %>

<% if showForm == 'main' %>

<iframe class id="wufooIframe" height="900" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://fucinadeltag.wufoo.com/embed/q1wf0tmg16ukwpv/def/header=hide&field451=::field451Data::"><a href="https://fucinadeltag.wufoo.com/forms/q1wf0tmg16ukwpv/">Fill out my Wufoo form!</a></iframe>

<!-- <div id="wufoo-q1wf0tmg16ukwpv">
    Fill out my <a href="https://fucinadeltag.wufoo.com/forms/q1wf0tmg16ukwpv">online form</a>.
</div> -->
    <script type="text/javascript">
        // var q1wf0tmg16ukwpv;(function(d, t) {
        // var s = d.createElement(t), options = {
        // 'userName':'fucinadeltag',
        // 'formHash':'q1wf0tmg16ukwpv',
        // 'autoResize':true,
        // 'height':'641',
        // 'async':true,
        // 'host':'wufoo.com',
        // 'header':'hide',
        // 'defaultValues':'field451=::field451Data::',
        // 'ssl':false};
        // s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        // s.onload = s.onreadystatechange = function() {
        // var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        // try { q1wf0tmg16ukwpv = new WufooForm();q1wf0tmg16ukwpv.initialize(options);q1wf0tmg16ukwpv.display();} catch (e) {}};
        // var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        // })(document, 'script');
    </script>

<% end %>