<div class="wufoo columns">
    <p class="header">
        <span class="big"><%= data.page.testataForm.prima || "RICHIEDI" %></span><br />
        <span class="medium"><%= data.page.testataForm.seconda || "UN PREVENTIVO GRATUITO" %></span>
    </p>
    <div id="wufoo-q1wf0tmg16ukwpv">
        Fill out my <a href="https://fucinadeltag.wufoo.com/forms/q1wf0tmg16ukwpv">online form</a>.
    </div>
        <script type="text/javascript">var q1wf0tmg16ukwpv;(function(d, t) {
            var s = d.createElement(t), options = {
            'userName':'fucinadeltag',
            'formHash':'q1wf0tmg16ukwpv',
            'autoResize':true,
            'height':'641',
            'async':true,
            'host':'wufoo.com',
            'header':'hide',
            'ssl':false};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { q1wf0tmg16ukwpv = new WufooForm();q1wf0tmg16ukwpv.initialize(options);q1wf0tmg16ukwpv.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');
        </script>
        <div class="box_nverde">
            <span>Oppure chiama il Numero Verde</span><br />
            <span class="numero"> 800 782 217 </span><br />
            <span class="orario">Lun-Ven dalle 8.30 alle 17.30</span>

        </div>
</div>