---
title: Il comune di monza installa 200 defibrillatori
autore: Luca Nicola
date: 2014-04-01
published: true
category: News
image: "https://lh6.googleusercontent.com/-TwK8-4TwDJM/U1Ek3D_IPfI/AAAAAAAAmMo/R4WRpJD58Dk/h500-no/FPX1247.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>