---
title: Defibrillatori - Corsi per Abilitarsi all' uso
immagineTestata: http://lh4.googleusercontent.com/-hHibBykejUc/U04qHqe_d9I/AAAAAAAAl1M/IAbM8MYwNJc/w980-h336-no/uso_defibrillatore2.jpg
testoTestata:   <h1>
                    Corsi di abilitazione<br />
                    all'uso del Defibrillatore
                </h1>
                <h2>La legge <span>obbliga a formare</span> il proprio personale</h2>
testataForm:
    prima:  CONTATTACI ORA
    seconda: per maggiori informazioni
metadata:
    description: Scopri come Abilitarsi all' uso dei Defibrillatori Formando il personale della Tua Società. Iredeem Organizza Corsi nella Tua Città
showForm: true
---

<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader">
            Obiettivi del corso BLSD <span class="small">(Basic Life Support – early Defibrillation)</span>
        </h3>
        <p>
            <strong>Far acquisire gli strumenti conoscitivi e metodologici e le capacità necessarie per prevenire il danno anossico cerebrale.</strong>
        </p>
        <p>
            Riconoscere in un paziente adulto lo stato d'incoscienza, di arresto respiratorio e di assenza di polso in una condizione di assoluta sicurezza per se stesso, per la persona soccorsa e per gli astanti.
        </p>
        <p>
            Per evitare queste gravissime conseguenze occorre ottimizzare i tempi di intervento, uniformare ed ordinare le valutazioni da effettuare e le azioni da compiere nell'ambito della cosiddetta catena della sopravvivenza.
        </p>
        <hr />

        <h3 class="subheader">
            Finalità del corso
        </h3>

        <ul class="large-block-grid-1">

            <li><i class="fa fa-check-circle"></i> <strong>Acquisire e schematizzare le conoscenze relative al trattamento dell'arresto cardiocircolatorio</strong> con defibrillatore semiautomatico esterno secondo le linee guida Italian Resuscitation Council.</li>

            <li><i class="fa fa-check-circle"></i> Saper <strong>mettere in atto le manovre ed i protocolli per il trattamento con defibrillatore</strong> semiautomatico dell'arresto cardiocircolatorio.</li>

            <li><i class="fa fa-check-circle"></i> Saper <strong>riconoscere l'arresto cardiocircolatorio</strong>.</li>

            <li><i class="fa fa-check-circle"></i> <strong>Acquisire capacità di autocontrollo</strong> in risposta a situazioni critiche.</li>

            <li><i class="fa fa-check-circle"></i> Saper <strong>gestire un'equipe di soccorso</strong> in caso di arresto cardiocircolatorio.</li>

            <li><i class="fa fa-check-circle"></i> <strong>Acquisire capacità di gestione dell'equipe di soccorso</strong> in emergenza per l'utilizzo precoce del defibrillatore semiautomatico.</li>

        </ul>

        <img src="https://lh3.googleusercontent.com/-visCqyLiBFQ/U0USAfaYcAI/AAAAAAAAlhc/f0VTJz9eFnM/w600-no/FPX9945.jpg">

        <hr />

        <h3 class="subheader">
            Programma del corso
        </h3>
        <ul>
            <li><strong>Durata del corso</strong>: 8 ore (una giornata)</li>

            <li><strong>Pratica</strong> : parte pratica di 6 ore con addestramento su manichino</li>

            <li><strong>Teoria</strong> : 1 ora</li>

            <li><strong>Istruttori</strong> : gli Istruttori devono essere certificati IRC, nonché svolgere almeno 2 corsi BLSD all'anno.</li>

        </ul>
        <hr />

        <h3 class="subheader">
            A chi è rivolto il corso
        </h3>
        <p>
            <strong>Il corso è rivolto a tutti coloro che possiedono un defibrillatore.</strong>
        </p>
        <p>
            Inoltre il corso è indirizzato ai medici, infermieri e soccorritori volontari e quanti operano periodicamente nei dipartimenti di emergenza - urgenza intra ed extra ospedalieri.
        </p>

        <img src="https://lh6.googleusercontent.com/-hvbM0rNtpvg/U05JEl8VpMI/AAAAAAAAl6w/xL1H2swqgKA/w600-no/ECS0611-TP9457.jpg">

        <hr />

        <h3 class="subheader">
            Valutazione e certificato di abilitazione
        </h3>
        <p>
            <strong>Valutazione</strong>:<br />
            La valutazione prevede una verifica in itinere sulle abilità nell'esecuzione delle tecniche di RCP, ed una valutazione finale teorico-pratica certificativa.
        </p>
        <p>
            <strong>Certificazione</strong>:<br />
            Alla fine del corso verrà rilasciato un certificato di abilitazione all'uso del defibrillatore valido nei termini di legge.<br />
            I nostri corsi sono certificati da Italian Resuscitation Council (IRC).
        </p>
        <hr />

        <h3 class="subheader">
            Costo: 60 Euro <span class="small">(vincolato all'acquisto di un defibrillatore Philips)</span>
        </h3>
        <p>
            <strong>Per gruppi di almeno a 5 partecipanti</strong>:<br />
            <strong>Se acquisti un defibrillatore Philips</strong> Iredeem srl organizza corsi presso la vostra struttura.<br />
        </p>
        <p>
            <strong>Per gruppi inferiori a 5 partecipanti</strong>:<br />
            <strong>Se acquisti un defibrillatore Philips</strong> Iredeem srl vi metterà direttamente in contatto con strutture che organizzano corsi nella vostra città o provincia.<br />
        </p>
        <hr />

    </div>
</div>