---
layout: page_new
title: Defibrillatori - Corsi per Abilitarsi all' uso
immagineTestata: http://lh4.googleusercontent.com/-hHibBykejUc/U04qHqe_d9I/AAAAAAAAl1M/IAbM8MYwNJc/w980-h336-no/uso_defibrillatore2.jpg
testoTestata:   <h1>
                    Corsi di abilitazione<br />
                    all'uso del Defibrillatore
                </h1>
                <h2>La legge <span>obbliga a formare</span> il proprio personale</h2>
testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: Scopri come Abilitarsi all' uso dei Defibrillatori Formando il personale della Tua Società. Iredeem Organizza Corsi nella Tua Città
showForm: true
---

<div class="row">
    <div class="large-12 columns">

        <ul class="large-block-grid-2 medium-block-grid-2 small">
            <li>

                <h4>
                    Obiettivi del corso BLSD<br /> <span class="small">(Basic Life Support – early Defibrillation)</span>
                </h4>
                <p>
                    <strong>Far acquisire gli strumenti conoscitivi e metodologici e le capacità necessarie per prevenire il danno anossico cerebrale.</strong>
                </p>
                <p>
                    Riconoscere in un paziente adulto lo stato d'incoscienza, di arresto respiratorio e di assenza di polso in una condizione di assoluta sicurezza per se stesso, per la persona soccorsa e per gli astanti.
                </p>
                <p>
                    Per evitare queste gravissime conseguenze occorre ottimizzare i tempi di intervento, uniformare ed ordinare le valutazioni da effettuare e le azioni da compiere nell'ambito della cosiddetta catena della sopravvivenza.
                </p>
            </li>

            <li>

                <h4>
                    Finalità del corso
                </h4>

                <ul class="small">

                    <li><strong>Acquisire e schematizzare le conoscenze relative al trattamento dell'arresto cardiocircolatorio</strong> con defibrillatore semiautomatico esterno secondo le linee guida Italian Resuscitation Council.</li>

                    <li>Saper <strong>mettere in atto le manovre ed i protocolli per il trattamento con defibrillatore</strong> semiautomatico dell'arresto cardiocircolatorio.</li>

                    <li>Saper <strong>riconoscere l'arresto cardiocircolatorio</strong>.</li>

                    <li><strong>Acquisire capacità di autocontrollo</strong> in risposta a situazioni critiche.</li>

                    <li>Saper <strong>gestire un'equipe di soccorso</strong> in caso di arresto cardiocircolatorio.</li>

                    <li><strong>Acquisire capacità di gestione dell'equipe di soccorso</strong> in emergenza per l'utilizzo precoce del defibrillatore semiautomatico.</li>

                </ul>

            </li>

<!--<img src="https://lh3.googleusercontent.com/-visCqyLiBFQ/U0USAfaYcAI/AAAAAAAAlhc/f0VTJz9eFnM/w960-no/FPX9945.jpg">-->
            <li>

                <h4>
                    Programma del corso
                </h4>
                <ul class="small">
                    <li><strong>Durata del corso</strong>: 8 ore (una giornata)</li>

                    <li><strong>Pratica</strong> : parte pratica di 6 ore con addestramento su manichino</li>

                    <li><strong>Teoria</strong> : 1 ora</li>

                    <li><strong>Istruttori</strong> : gli Istruttori devono essere certificati IRC, nonché svolgere almeno 2 corsi BLSD all'anno.</li>

                </ul>
            </li>

            <li>

                <h4>
                    A chi è rivolto il corso
                </h4>
                <p>
                    <strong>Il corso è rivolto a tutti coloro che possiedono un defibrillatore.</strong>
                </p>
                <p>
                    Inoltre il corso è indirizzato ai medici, infermieri e soccorritori volontari e quanti operano periodicamente nei dipartimenti di emergenza - urgenza intra ed extra ospedalieri.
                </p>

                <!-- <img src="https://lh6.googleusercontent.com/-hvbM0rNtpvg/U05JEl8VpMI/AAAAAAAAl6w/xL1H2swqgKA/w600-no/ECS0611-TP9457.jpg"> -->
            </li>

            <li>


                <h4>
                    Valutazione e certificato di abilitazione
                </h4>
                <p>
                    <strong>Valutazione</strong>:<br />
                    La valutazione prevede una verifica in itinere sulle abilità nell'esecuzione delle tecniche di RCP, ed una valutazione finale teorico-pratica certificativa.
                </p>
                <p>
                    <strong>Certificazione</strong>:<br />
                    Alla fine del corso verrà rilasciato un certificato di abilitazione all'uso del defibrillatore valido nei termini di legge.<br />
                    I nostri corsi sono certificati da Italian Resuscitation Council (IRC).
                </p>
            </li>

            <li>

                <h4>
                    Costo: 60 Euro<br /> <span class="small">(vincolato all'acquisto di un defibrillatore Philips)</span>
                </h4>
                <p>
                    <strong>Per gruppi di almeno a 5 partecipanti</strong>:<br />
                    <strong>Se acquisti un defibrillatore Philips</strong>, Iredeem srl organizza corsi presso la tua struttura.<br />
                </p>
                <p>
                    <strong>Per gruppi inferiori a 5 partecipanti</strong>:<br />
                    <strong>Se acquisti un defibrillatore Philips</strong> Iredeem srl ti metterà direttamente in contatto con strutture che organizzano corsi nella tua città o provincia.<br />
                </p>
            </li>

    </div>
</div>