---
title: Defibrillatori - Come sceglierne uno
immagineTestata: http://lh3.googleusercontent.com/-_MX8LdQwZA4/U04bqO--iEI/AAAAAAAAl0s/NucnqmV49I4/w960-h330-no/scelta_defibrillatore.jpg
testoTestata:   <h1>
                    Come Scegliere un Defibrillatore
                </h1>
                <h2>Alcuni <span>consigli</span> prima dell'acquisto.</h2>
testataForm:
    prima:  CONTATTACI ORA
    seconda: per maggiori informazioni
metadata:
    description: Prima di Acquistare un Defibrillatore è bene Informarsi e Verificare alcune Caratteristiche. Scopri subito quali!
showForm: true
---

<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader">Prima di acquistare:</h3>

        <ul class="large-block-grid-1">
            <li>
                <h4> <i class="fa fa-check-square-o"></i> Chiedi un parere tecnico a chi opera in emergenza</h4>
                <p>
                    Nessuno meglio di un medico è in grado di consigliarti correttamente su una scelta così delicata: salvare una vita umana non dipende dal caso, ma da apparecchiature affidabili e personale competente.
                </p>
                <div class="panel">
                    <h4 class="subheader">I defibrillatori Philips</h4>
                    <p>
                        sono riconosciuti dagli operatori del 118 tra i più sempici e affidabili della loro categoria
                    </p>

                </div>
            </li>
            <li>
                <h4> <i class="fa fa-check-square-o"></i> Chiedi una dimostrazione </h4>
                <p>
                    Un defibrillatore deve essere assolutamente affidabile e semplice da usare: gli acquisti a catalogo sono sconsigliabili, perché spesso riservano sorprese inaspettate.
                </p>
                <div class="panel">
                    <h4 class="subheader">Un tecnico Philips</h4>
                    <p>
                        verrà a farti visita, su richiesta, mostrandoti fisicamente il defibrillatore e il suo uso. Ovviamente senza nessun impegno da parte vostra.
                    </p>

                </div>
            </li>
            <li>
                <h4> <i class="fa fa-check-square-o"></i> Verifica la presenza del Certificato FDA </h4>
                <p>
                    Il mercato americano è il primo e maggiore mercato mondiale per la vendita di defibrillatori: la Certificazione FDA (ente americano sulla sicurezza) garantisce l’applicazioni di standard molto rigorosi nella verifica di affidabilità.
                </p>
                <div class="panel">
                    <h4 class="subheader">I defibrillatori Philips</h4>
                    <p>
                        hanno tutti la certificazione FDA!
                    </p>

                </div>
            </li>

            <li>
                <h4> <i class="fa fa-check-square-o"></i> Verifica la garanzia e l’assistenza </h4>
                <p>
                    La garanzia dovrebbe essere la più lunga possibile. In caso di problemi tecnici, l’azienda dovrebbe disporre di una rete di assistenza efficiente, con personale qualificato per intervenire.
                </p>
                <div class="panel">
                    <h4 class="subheader">I defibrillatori Philips</h4>
                    <p>
                        sono garantiti <strong>8 Anni</strong> e un'assistenza garantita su tutto il territorio nazionale
                    </p>

                </div>
            </li>

            <li>
                <h4> <i class="fa fa-check-square-o"></i> Verifica i costi delle parti consumabili </h4>
                <p>
                    Spesso un defibrillatore dal prezzo accattivante nasconde una brutta sorpresa: le parti consumabili (batterie, elettrodi, ecc.) hanno costi molto elevati che, di fatto, vanificano il risparmio.
                </p>
                <div class="panel">
                    <h4 class="subheader">I consumabili Philips</h4>
                    <p>
                        <ul>
                            <li>Coppia di elettrodi Adulti: 65 Euro + IVA</li>
                            <li>Coppia di elettrodi Pediatrici: 110 Euro + IVA</li>
                            <li>Batteria: 165 Euro + IVA</li>

                        </ul>
                    </p>

                </div>
            </li>

            <li>
                <h4> <i class="fa fa-check-square-o"></i> Verifica se l’azienda fornisce gratuitamente il software per lo scarico dei dati</h4>
                <p>
                    In caso di utilizzo del defibrillatore è un particolare importante, che può fare la differenza.
                </p>
                <div class="panel">
                    <h4 class="subheader">I defibrillatori Philips</h4>
                    <p>
                        sono dotati di software incluso nel prezzo<br />
                        In più, in caso di uso, <strong>potrete contare sul nostro tecnico per lo scarico dei dati</strong>. Nessuna preoccupazione, non vi lasciamo soli!
                    </p>

                </div>
            </li>

            <li>
                <h4> <i class="fa fa-check-square-o"></i> Verifica che un defibrillatore ti venga consegnato, messo in opera, collaudato e spiegato</h4>
                <p>
                    Perché tutto questo avvenga, è indispensabile l’intervento di personale qualificato, appositamente formato per compiti così importanti. Il semplice invio per corrispondenza non dà garanzie sufficienti.
                </p>
                <div class="panel">
                    <h4 class="subheader">I defibrillatori Philips</h4>
                    <p>
                        vengono messi in opera, collaudati e spiegati da un nostro tecnico presso la vostra struttura. Il nostro tecnico sarà a vostra disposizione per rispondere ad eventuali domande e richieste. Non vi lascimo soli!
                    </p>

                </div>
            </li>

            <li>
                <h4> <i class="fa fa-check-square-o"></i> Verifica che l’azienda aggiorni periodicamente il tuo defibrillatore</h4>
                <p>
                    I protocolli internazionali sulla defibrillazione sono aggiornati ogni 5 anni dal comitato scientifico mondiale ILCOR: in caso di modifiche, l’azienda dovrebbe inviare un tecnico qualificato per aggiornare il defibrillatore.
                </p>
                <div class="panel">
                    <h4 class="subheader">I tecnici Philips</h4>
                    <p>
                        vi contatteranno a tempo debito in caso di aggiornamenti. Gli aggiornamenti saranno effettuati <strong>presso la vostra struttura e del tutto gratuitamente</strong>. Pensiamo a tutto noi!
                    </p>

                </div>
            </li>

        </ul>
    </div>
</div>