---
layout: page_new
title: Consumabili e Accessori Defibrillatori Philips
immagineTestata: https://lh6.googleusercontent.com/-1z8w1vHopnI/U05i11LAc9I/AAAAAAAAl-M/jf6EKiTl_Tg/w960-h330-no/defibrillatore.jpg
testoTestata:   <h1>
                    Consumabili e Accessori<br />
                    per Defibrillatori <span>Philips</span>
                </h1>
testataForm:
    prima:  RICHIEDI UN PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: Prezzo del Defibrillatore. Scopri subito online quanto costa il Defibrillatore Philips e approfitta dell' offerta.
showForm: consumabili

---
<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader">
            Coppia Elettrodi Adulti
        </h4>
        <div class="row">
            <div class="large-3 columns">
                <img src="http://lh4.googleusercontent.com/-N0T-WJk1Ivs/U058vXnG7WI/AAAAAAAAmF4/T_R_ELYRRc0/h500-no/M5071A.jpg">
            </div>

            <div class="large-9 columns small">
                <p>
                    Una cartuccia elettrodi di ricambio per l'uso con i defibrillatori Philips, raccomandati <strong>per pazienti adulti di peso superiore ai 25 kg o età superiore agli 8 anni</strong>.
                </p>
                <p>
                    Gli elettrodi sono contenuti in una cartuccia con maniglia di apertura rapida, il cui azionamento attiva automaticamente il defibrillatore. Essendo la cartuccia precollegata, gli elettrodi <strong>sono controllati ogni giorno dal test automatico effettuato dal defibrillatore</strong>.
                </p>
                <p>
                    Conduttore sottile flessibile è su supporto polimerico protettivo, provvisto di idrogel adesivo. Di forma ovale, ha un'ampia superficie di adesione per sopportare le manovre RCP e assicurare il massimo contatto anche in condizioni difficili.
                    Lunghezza del cavo 122 cm circa, temperatura di stoccaggio 0°-43° C, durata 24 mesi (dalla data di produzione).
                </p>
            </div>
        </div>

        <hr />

        <h3 class="subheader">
            Coppia Elettrodi Pediatrici
        </h4>
        <div class="row">
            <div class="large-3 columns">
                <img src="http://lh4.googleusercontent.com/-valbj56vF-g/U058wAazXWI/AAAAAAAAmGA/IO8HlzTffCQ/h500-no/M5072A.jpg">
            </div>

            <div class="large-9 columns">
                <p>
                    Una cartuccia elettrodi di ricambio per l'uso con i defibrillatori Philips HS1, raccomandati per pazienti pediatrici di peso inferiore ai <strong>25 kg o età inferiore agli 8 anni</strong>.
                </p>
                <p>
                    Quando utilizzati, la terapia di defibrillazione viene ridotta ad un livello appropriato all'età pediatrica. GLi elettrodi sono contenuti in una cartuccia con maniglia di apertura rapida, il cui azionamento attiva automaticamente il defibrillatore.
                </p>
                <p>
                    Essendo la cartuccia precollegata, gli elettrodi sono <strong>controllati ogni giorno dal test automatico effettuato dal defibrillatore</strong>. Conduttore sottile flessibile è su supporto polimerico protettivo, provvisto di idrogel adesivo.
                    Di forma ovale ha un'ampia superficie di adesione per sopportare le manovre RCP e assicurare il massimo contatto anche in condizioni difficili.
                </p>
                <p>
                    Lunghezza del cavo 122 cm circa, temperatura di stoccaggio 0°-43° C, durata 24 mesi (dalla data di produzione).
                </p>
            </div>
        </div>

        <hr />

        <h3 class="subheader">
            Batteria
        </h4>
        <div class="row">
            <div class="large-3 columns">
                <img src="https://lh4.googleusercontent.com/-8tR0lhEv7ew/U058utkdVMI/AAAAAAAAmFs/k-k0wZ4boRg/h500-no/M5070A.jpg">
            </div>

            <div class="large-9 columns small">
                <p>
                    Batteria di ricambio per defibrillatori Philips. Durata: montata sull'apparecchio in <strong>modalità standby, 4 anni</strong>; ad apparecchio acceso 4 ore. <strong>Scariche erogabili: 200</strong>.
                </p>
            </div>
        </div>

        <hr />

        <h3 class="subheader">Esempi di Accessori Disponibili:</h3>

        <ul class="large-block-grid-4">

            <li>
                <h6 class="subheader">Cartello Segnalatore</h6>
                <img src="http://lh5.googleusercontent.com/-s-XEGi_9WKE/U058fvN5gOI/AAAAAAAAmC0/d76yv3pJF5o/h300-no/989803170931.jpg">
            </li>

            <li>
                <h6 class="subheader">Teca Metallica per interni</h6>
                <img src="http://lh4.googleusercontent.com/-xv1j0f7i0nM/U058JgF4r5I/AAAAAAAAmAU/N1lNBfKtRjs/h300-no/989803136531.jpg">
            </li>

            <li>
                <h6 class="subheader">Valigetta Semirigida</h6>
                <img src="http://lh5.googleusercontent.com/-sGPlhQmH0Pw/U058wv7ShvI/AAAAAAAAmGQ/ydYjYQlryNg/h300-no/M5075A.jpg">
            </li>



            <li>
                <h6 class="subheader">Coppia di Elettrodi Training - Adulti</h6>
                <img src="http://lh3.googleusercontent.com/-712YPx1M68w/U058wg_HaOI/AAAAAAAAmGE/yyCFrdpEK2w/h300-no/M5073A.jpg">
            </li>

        </ul>



    </div>
</div>