---
layout: page_new
title: Defibrillatori - Obbligatori per le Società Sportive
immagineTestata: http://lh5.googleusercontent.com/-Rl53WkxXEw0/U0JJH6E7OjI/AAAAAAAAjL8/u36tduwBaD4/w960-h330-no/defibrillatori_legge.jpg
testoTestata:   <h1>
                    La legge Italiana sui defibrillatori
                </h1>
                <h2><span>Obbligatorio</span> per tutte le Società sportive.</h2>
testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: La Legge Italiana prevede l’obbligatorietà di Dotarsi di Defibrillatori e di Formare il Personale Addetto. Scopri subito se la Tua società rientra tra queste!
showForm: main
---


<div class="row">
    <div class="large-12 columns">
        <ul class="large-block-grid-2 medium-block-grid-2 small">
            <li>
                <div class="evidenza" >
                <h3 class="subheader">
                    Società Sportive dilettantistiche
                </h3>
                OBBLIGO Entro Giugno 2016
                </div>
                <p>
                    <strong>Viste le recenti morti sul campo</strong>, il Decreto attuativo Balduzzi n. 158 del 13 Settembre 2012, ne prevede l’obbligatorietà per le società sportive e contiene linee guida dettagliate sulla dotazione e la formazione all’utilizzo dei defibrillatori semiautomatici.
                </p>

                <img src="https://lh4.googleusercontent.com/-QZWxVSjq02k/U00zmJQojGI/AAAAAAAAlqo/BH3goFQjdbA/w600-no/AED0210-TCOX+1688b+gym.jpg">

            </li>

            <li>


                <div class="evidenza" >
                                    <h3 class="subheader">
                    Luoghi pubblici in genere
                </h3>
                CONSIGLIATO da subito
                </div>

                    <p class="small">
                        Ambulatori Medici | Farmacie | Grande Distribuzione | Scuole e Università | Locali pubblici | Case di Riposo | Strutture ricreative | Uffici e Industrie | Hotel | Trasporti e Grandi Scali | Istituzioni | Condomini
                    </p>

                <img src="https://lh3.googleusercontent.com/-ELAq8PcCRqc/U00zLNq3X6I/AAAAAAAAllM/Jm5OQeInQME/w600-no/AED0210-TCOX+0495+spa.jpg">
            </li>

            <li>

                <h3 class="subheader">
                    Cosa fare
                </h3>
                <p>
                    <ol>
                        <li><strong>Dotare la propria struttura di un defibrillatore</strong>.</li>
                        <li><strong>Formare adeguatamente il personale</strong>.</li>
                    </ol>

                </p>
            </li>

            <li>

                <h3 class="subheader">La legge Italiana</h3>
                <p>La Legge Italiana prevede l’obbligatorietà di dotarsi di defibrillatori e di formare il personale addetto. <br />
                <strong>Viste le recenti morti sul campo</strong>, il Decreto attuativo Balduzzi n. 158 del 13 Settembre 2012, ne prevede l’obbligatorietà per le società sportive e contiene linee guida dettagliate sulla dotazione e la formazione all’utilizzo dei defibrillatori semiautomatici.
                </p>
                <p>
                <%= link_to 'Scarica il decreto Balduzzi', 'https://s3-eu-west-1.amazonaws.com/fucinadeltag/pdf/philips/decreto_balduzzi.pdf', :target => '_blank' %>
                </p>

            </li>

        <!-- <div>OBBLIGO Entro Gennaio 2014 per:</div>
        <h3 class="subheader">
            Società Sportive professionistiche
        </h3>
        <p>In caso non lo abbiate ancora fatto, vi invitiamo a dotarvi di un defibrillatore il più velocemente possibile.</p> -->


    </div>
</div>