---
layout: page
title: Defibrillatori - Philips Heartstart
immagineTestata: http://lh6.googleusercontent.com/-1z8w1vHopnI/U05i11LAc9I/AAAAAAAAl-M/jf6EKiTl_Tg/w980-h336-no/defibrillatore.jpg
testoTestata:   <h1>
                    Defibrillatore Philips<br />
                    Semplice e Intuitivo
                </h1>
                <h2>Modello Heartstart HS1</h2>
testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: Il Defibrillatore Philips è il più Semplice e Affidabile della sua Categoria. La tecnologia più evoluta e di estrema facilità d‘uso. Contattaci per Maggiori Informazioni!
showForm: main
---
<%= partial "banner_promo" %>


<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader"><i>Il defibrillatore semiautomatico Philips Heartstart HS1 racchiude i fattori fondamentali che un apparecchio salvavita deve avere</i></h3>

        <hr />

        <h3 class="subheader">Caratteristiche del defibrillatore:</h3>


        <ul class="large-block-grid-2 medium-block-grid-2 ">
            <li>

                <h5 class="subheader"><i class="fa fa-users"></i> Utilizzabile da persone comuni</h5>

                <p>
                    Il primo defibrillatore autorizzato per l’uso senza prescrizione medica negli Stati Uniti.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-volume-up"></i> Facile e intuitivo con comandi vocali</h5>

                <p>
                    Con un design semplice ed essenziale guida il soccorritore in ogni fase di utilizzo.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-laptop"></i> Software gratuito incluso</h5>

                <p>
                    Il defibrillatore è dotato di software per la registrazione, lo scarico e la condivisione dei dati.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-clock-o"></i></i> Sempre pronto all'utilizzo</h5>

                <p>
                    Ha una batteria della durata di 4 anni dalla sua installazione. Non necessita manutenzione.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-eye"></i> Test automatici di autoverifica</h5>

                <p>
                    Un test automatico verifica il defibrillatore e lo mantiene pronto all’uso.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-tachometer"></i> Il più veloce della sua categoria</h5>

                <p>
                    Grazie alla tecnologia brevettata QuickShock è il più veloce nell’erogazione della scarica.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-users"></i> Adatto ad adulti e bambini</h5>

                <p>
                    Rileva automaticamente i dati della persona e adatta la scarica al livello adeguato.
                </p>

            </li>

            <li>

                <%= link_to 'Scarica la scheda del modello Heartstart HS1', 'https://s3-eu-west-1.amazonaws.com/fucinadeltag/pdf/philips/heartstart_hs1_brochure_rev.IRE.PDF', :target => '_blank' %>

            </li>

        </ul>

        <img src="https://lh5.googleusercontent.com/-PKFuT9aPiSI/U000Hjj94eI/AAAAAAAAlx4/jWLxeJEtvJg/w600-no/FPX9881.jpg">

        <hr />

        <h3 class="subheader">Assistenza e servizio di eccellenza:</h3>

        <ul class="large-block-grid-2 medium-block-grid-2">
            <li>

                <h5 class="subheader"><i class="fa fa-thumbs-up"></i> 8 Anni di garanzia</h5>

                <p>
                    Garanzia su tutte le componenti tecnologiche del defibrillatore escluse le parti consumabili.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-wrench"></i> Installazione e collaudo</h5>

                <p>
                    Consegna, messa in opera e collaudo con personale tecnico specializzato.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-book"></i> Formazione all'uso</h5>

                <p>
                    Iredeem offre la gestione dei corsi BLSD e dei relativi corsi di aggiornamento.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-download"></i> Aggiornamenti inclusi</h5>

                <p>
                    In caso di modifica dei protocolli di sicurezza, il tuo defibrillatore verrà aggiornato gratuitamente.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-headphones"></i> Centri Assistenza in tutta Italia</h5>

                <p>
                    Iredeem offre un’assistenza capillare in tutte le città italiane.
                </p>

            </li>

            <li>

                <h5 class="subheader"><i class="fa fa-suitcase"></i> Dimostrazioni gratuite e senza impegno</h5>

                <p>
                    Dimostrazioni presso il tuo centro sportivo e senza alcun obbligo d’acquisto.
                </p>

            </li>

        </ul>

        <img src="https://lh6.googleusercontent.com/-aVV6M7Q2Htc/U00zcULlZTI/AAAAAAAAlow/NVI1aEBKNqI/w600-no/AED0210-TCOX+1443b+students.jpg">

    </div>
</div>