---
layout: page
title: Prezzi Defibrillatori Philips
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>Grazie per averci contattati</h1>
                <h2>Ti risponderemo appena possibile!</h2>

testataForm:
    prima:
    seconda:
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
showForm: false
conversionCode:    <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 983718396;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "pcqtCNzO-AQQ_LOJ1QM";
                    var google_conversion_value = 0;
                    /* ]]> */
                    </script>
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    <noscript>
                    <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/983718396/?value=0&amp;label=pcqtCNzO-AQQ_LOJ1QM&amp;guid=ON&amp;script=0"/>
                    </div>
                    </noscript>

                    <!-- Google Code for Telefonate Numero Verde Conversion Page
                    In your html page, add the snippet and call
                    goog_report_conversion when someone clicks on the
                    phone number link or button. -->
                    <script type="text/javascript">
                      /* <![CDATA[ */
                      goog_snippet_vars = function() {
                        var w = window;
                        w.google_conversion_id = 983718396;
                        w.google_conversion_label = "02zrCITKwgcQ_LOJ1QM";
                        w.google_conversion_value = 0;
                        w.google_remarketing_only = false;
                      }
                      // DO NOT CHANGE THE CODE BELOW.
                      goog_report_conversion = function(url) {
                        goog_snippet_vars();
                        window.google_conversion_format = "3";
                        window.google_is_call = true;
                        var opt = new Object();
                        opt.onload_callback = function() {
                        if (typeof(url) != 'undefined') {
                          window.location = url;
                        }
                      }
                      var conv_handler = window['google_trackConversion'];
                      if (typeof(conv_handler) == 'function') {
                        conv_handler(opt);
                      }
                    }
                    /* ]]> */
                    </script>
                    <script type="text/javascript"
                      src="//www.googleadservices.com/pagead/conversion_async.js">
                    </script>
---
