---
layout: page
title: Prezzi Defibrillatori Philips
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>Grazie per averci contattati</h1>
                <h2>Invieremo il preventivo all'indirizzo email indicato!</h2>

testataForm:
    prima:
    seconda:
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
showForm: false
headCode: >
    <!-- Facebook Conversion Code for Lead Facebook 2 -->
    <script type="text/javascript">
    var fb_param = {};
    fb_param.pixel_id = '6020739010992';
    fb_param.value = '0.01';
    fb_param.currency = 'USD';
    (function(){
    var fpw = document.createElement('script');
    fpw.async = true;
    fpw.src = '//connect.facebook.net/en_US/fp.js';
    var ref = document.getElementsByTagName('script')[0];
    ref.parentNode.insertBefore(fpw, ref);
    })();
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6020739010992&amp;value=0.01&amp;currency=USD" /></noscript>
conversionCode: >
                    <script type="text/javascript">
                    /* <![CDATA[ */
                    var google_conversion_id = 983718396;
                    var google_conversion_language = "en";
                    var google_conversion_format = "3";
                    var google_conversion_color = "ffffff";
                    var google_conversion_label = "pcqtCNzO-AQQ_LOJ1QM";
                    var google_conversion_value = 0;
                    /* ]]> */
                    </script>
                    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
                    </script>
                    <noscript>
                    <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/983718396/?value=0&amp;label=pcqtCNzO-AQQ_LOJ1QM&amp;guid=ON&amp;script=0"/>
                    </div>
                    </noscript>

                    <!-- Google Code for Telefonate Numero Verde Conversion Page
                    In your html page, add the snippet and call
                    goog_report_conversion when someone clicks on the
                    phone number link or button. -->
                    <script type="text/javascript">
                      /* <![CDATA[ */
                      goog_snippet_vars = function() {
                        var w = window;
                        w.google_conversion_id = 983718396;
                        w.google_conversion_label = "02zrCITKwgcQ_LOJ1QM";
                        w.google_conversion_value = 0;
                        w.google_remarketing_only = false;
                      }
                      // DO NOT CHANGE THE CODE BELOW.
                      goog_report_conversion = function(url) {
                        goog_snippet_vars();
                        window.google_conversion_format = "3";
                        window.google_is_call = true;
                        var opt = new Object();
                        opt.onload_callback = function() {
                        if (typeof(url) != 'undefined') {
                          window.location = url;
                        }
                      }
                      var conv_handler = window['google_trackConversion'];
                      if (typeof(conv_handler) == 'function') {
                        conv_handler(opt);
                      }
                    }
                    /* ]]> */
                    </script>
                    <script type="text/javascript"
                      src="//www.googleadservices.com/pagead/conversion_async.js">
                    </script>

                    <!-- BING -->
                    <script type="text/javascript">
                        if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};
                    </script>
                    <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/95f574c2-422c-42f8-ac15-c815c73a6d67/mstag.js"></script>
                    <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"3049774",type:"1",actionid:"240029"})</script>
                    <noscript>
                      <iframe src="//flex.msn.com/mstag/tag/95f574c2-422c-42f8-ac15-c815c73a6d67/analytics.html?dedup=1domainId=3049774&type=1&actionid=240029" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"></iframe>
                    </noscript>
---
