---
layout: page
title: Philips - Defibrillatore Semiautomatico - Puoi Salvare una Vita!
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>
                    Con un <span>Defibrillatore</span><br />
                    puoi salvare una vita!
                </h1>
                <h2><span>Informati!</span> Non scegliere a caso.</h2>

testataForm:
    prima:  RICHIEDI
    seconda: UN PREVENTIVO GRATUITO
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
showForm: true
---
<%= partial "banner_promo" %>

<p />

<ul class="large-block-grid-3 bottomline">
    <li>
        <i class="fa fa-exclamation-triangle"></i> <em>Obbligatorio per le società sportive, consigliato per tutti!</em><br />
        <%= link_to 'Cosa dice la legge', '/cosa-dice-la-legge' %>

    </li>
    <li>
        <i class="fa fa-heart"></i>  <em>Verifica che il defibrillatore abbia i giusti requisiti!</em><br />
        <%= link_to 'Come scegliere', '/come-scegliere-un-defibrillatore' %>
    </li>
    <li>
        <i class="fa fa-users"></i> <em>Tutti possono usare il defibrillatore. Basta un corso di 8 ore.</em><br />
        <%= link_to 'Corsi di Abilitazione', '/abilitarsi-alluso' %>
    </li>
</ul>

<div class="row">
    <div class="large-12 columns">
        <h3 class="subheader">
            Defibrillatore Philips<br />
            Modello Heartstart HS1
        </h3>
        <h5 class="subheader">Semiautomatico e Semplice</h5>
        <p>Il Defibrillatore Semiautomatico consente a chiunque di intervenire in caso di arresto cardiaco improvviso, erogando una scarica in modo rapido ed efficace.<br />
        <strong>Con un Defibrillatore Philips puoi salvare una vita!</strong></p>

        <img src="https://lh5.googleusercontent.com/-dznAnvKFcEM/U0URyoMcGZI/AAAAAAAAlyw/PZFDBjGoPa0/w600-no/FPX9835.jpg">


    </div>
</div>