---
title: Welcome to Middleman
---



  <div class="row">
    <div class="large-12 columns">

    <!-- Content Slider -->

      <div class="row">
        <div class="large-12 hide-for-small">

          <div id="featured" data-orbit data-options="animation:slide;
                                         pause_on_hover:true;
                                         next_on_click: true;
                                         slide_number: false;
                                         timer_show_progress_bar: false;
                                         navigation_arrows:false;
                                         bullets:false;">
              <img src="http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg" alt="slide image">
            </div>

      </div>
    </div>

    <div class="row over">
        <div class="large-12 hide-for-small">
            <h1>
                Con un <span>Defibrillatore</span><br />
                puoi salvare una vita!
            </h1>
            <h2><span>Informati!</span> Non scegliere a caso.</h2>
        </div>

    </div>

    <!-- End Content Slider -->

    <!-- Mobile Header -->

      <div class="row">
        <div class="large-12 columns show-for-small">

          <img src="http://placehold.it/1200x700&text=Mobile Header">

        </div>
      </div><br>

    <!-- End Mobile Header -->


      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <!-- Shows -->
            <div class="large-8 columns">

                <div class="row bottomline">
                    <div class="large-4 columns">
                        <p>
                            <i class="fa fa-exclamation-triangle"></i> <em>Obbligatorio per le società sportive, consigliato a tutti!</em><br />
                            <%= link_to 'Cosa dice la legge', 'cosa-dice-la-legge' %>

                        </p>
                    </div>

                    <div class="large-4 columns">
                        <p>
                            <i class="fa fa-heart"></i>  <em>Accertati della qualità del defirbillatore che vuoi comprare!</em><br />
                            <%= link_to 'Come scegliere', 'come-scegliere-un-defibrillatore' %>
                        </p>
                    </div>

                    <div class="large-4 columns">
                        <p>
                            <i class="fa fa-users"></i> <em>Tutti pososno usare il defibrillatore. Basta un corso di 4 ore.</em><br />
                            <%= link_to 'Corsi di Abilitazione', 'abilitarsi-alluso' %>

                            <a>
                        </p>
                    </div>

                </div>


            </div>
            <!-- End Shows -->

            <!-- Feed -->

            <div class="wufoo columns">
                <p class="header">
                    <span class="big">RICHIEDI</span><br />
                    <span class="medium">UN PREVENTIVO GRATUITO</span><br />
                    <span class="small">Ti rispondiamo in pochi minuti!</span>
                </p>
                <div id="wufoo-q1wf0tmg16ukwpv">
                    Fill out my <a href="https://fucinadeltag.wufoo.com/forms/q1wf0tmg16ukwpv">online form</a>.
                </div>
                    <script type="text/javascript">var q1wf0tmg16ukwpv;(function(d, t) {
                        var s = d.createElement(t), options = {
                        'userName':'fucinadeltag',
                        'formHash':'q1wf0tmg16ukwpv',
                        'autoResize':true,
                        'height':'641',
                        'async':true,
                        'host':'wufoo.com',
                        'header':'hide',
                        'ssl':false};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                        try { q1wf0tmg16ukwpv = new WufooForm();q1wf0tmg16ukwpv.initialize(options);q1wf0tmg16ukwpv.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                        })(document, 'script');
                    </script>
                </div>

            <!-- End Feed -->
          </div>

        </div>
      </div>

    </div>
  </div>