---
layout: page_new
title: Philips - Defibrillatore Semiautomatico - Puoi Salvare una Vita!
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>
                    Defibrillatore <span>Philips HS1</span><br />
                    Semplice e intuitivo!
                </h1>
                <h2><span>Chiamaci</span> per un preventivo.</h2>

testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
showForm: true
---

<p />

<div class="row">
    <div class="large-12 columns">

        <dl class="accordion" data-accordion>
            <dd>
                <a href="#semplice"><h2><i><i class="fa fa-smile-o"></i> Semplice e intuitvo</i></h2></a>

                <ul id="semplice" class="large-block-grid-2 content">
                    <li>
                        <h4 class="subheader">Tutti possono usarlo</h4>
                        <p>
                            Chiunque con un corso di appena 8 ore può usare un defibrillatore. Per essere usato <strong>non necessita di personale medico</strong>.
                        </p>
                        <p>
                            Se acquisti un defibrillatore Philips <strong>possiamo organizzare noi i corsi nella tua struttura</strong> o aiutarti a scegliere la soluzione migliore per te.
                        </p>
                    </li>
                    <li>
                        <h4 class="subheader">La responsabilità è del defibrillatore</h4>
                        <p>
                            Se il paziente non necessita di scarica, <strong>il defibrillatore non la eroga</strong>. Il defibrillatore è in grasdo da solo di diagnosticare se veramente il paziente ha bisogno di scarica. <strong>Nessuna possibilità di errore</strong>!
                        </p>
                    </li>

                    <li>
                        <h4 class="subheader">La "voce" del defibrillatore guida l'operatore</h4>
                        <p>
                            In una situazione di forte stress è facile fare confusione dimenticarsi alcuni importanti passaggi. <strong>Il nostro defibrillatore vi guida con la voce</strong>. Nulla da leggere o da interpretare.
                        </p>
                        <p>
                            La guida vocale di cui è dotato il defibrillatore, accompagna passo passo l'operatore nelle operazioni di primo soccorso.
                        </p>
                    </li>

                    <li>
                        <h4 class="subheader">In caso di uso, siamo al tuo fianco</h4>
                        <p>
                            In caso di uso il defibrillatore registra tutto quanto successo. I dati andranno poi scaricati e forniti alle autorità competenti. <strong>Un nostro tecnico sarà a disposizoine per assistervi in questi momenti senza nessun costo aggiuntivo</strong>.
                        </p>
                    </li>

                    <%= partial "callToAction" %>

                </ul>


            </dd>
        </dl>
        <hr>
        <dl class="accordion" data-accordion>
            <dd>
                <a href="#affidabile"><h2><i><i class="fa fa-wrench"></i> Affidabile</i></h2></a>

                <ul id="affidabile" class="large-block-grid-2 content">
                    <li>
                        <h4 class="subheader">8 anni di Garanzia</h4>
                        <p>
                            Il defibrillatore Philips è garantito per 8 anni!
                        </p>
                    </li>
                    <li>
                        <h4 class="subheader">4 anni di Batteria</h4>
                        <p>
                            La batteria del Defibrillaore ne garantisce l'uso per 4 anni senza nessun bisongo di essere collegato a prese elettriche.
                        </p>
                    </li>

                    <li>
                        <h4 class="subheader">Autodiagnostica e segnalazione</h4>
                        <p>
                            Sarà il defibrillaore a <strong>dirti cosa non funziona e come intevenire</strong>. Il defibrillatore è in grado di capire se ha dei problemi e di segnalare nello specifico di che problema si tratta.
                        </p>
                    </li>

                    <li>
                        <h4 class="subheader">Consumabili a prezzi giusti</h4>

                        <ul>
                            <li>Batteria: <strong>165 Euro + IVA</strong></li>
                            <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                            <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
                        </ul>

                    </li>
                    <%= partial "callToAction" %>
                </ul>
            </dd>
        </dl>
        <hr>
        <dl class="accordion" data-accordion>
            <dd>
                <a href="#assistenza"><h2><i><i class="fa fa-briefcase"></i> Assistenza in tutta Italia</i></h2></a>

                <ul id="assistenza" class="large-block-grid-2 content">
                    <li>
                        <h4 class="subheader">Assistenza in tutta italia</h4>
                        <p>
                            Iredeem, distributore ufficiale Philips ha una <strong>rete di tecnici diffusa in tutta Italia</strong>. Persone vere a tua disposizione per ogni necessità.
                        </p>
                    </li>
                    <li>
                        <h4 class="subheader">Un tecnico a tua disposizione</h4>
                        <p>
                            Il Defibrillatore Philips verrà <strong>messo in opera e collaudato da un nostro tecnico</strong>. Non dovrai preoccuparti di nulla!
                        </p>
                        <p>
                            Se lo ritieni necessario un nostro tecnico verrà presso la tua struttura per una demo gratuita. <strong>Senza nessun obbligo di acquisto</strong>!
                        </p>
                    </li>

                    <li>
                        <h4 class="subheader">Persone in carne e ossa</h4>
                        <p>
                            Iredeem, distributore Ufficiale di Philips è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone in carne e ossa!
                        </p>
                    </li>

                    <li>
                        <h4 class="subheader">Pensiamo noi agli aggiornamenti</h4>
                        <p>
                            Il defibrillatore è una macchina salvavita. La macchina si attiene a protocolli europei che peridicamente vengono aggiornati. La Philips provvede ad inviare un proprio tecnivo per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
                        </p>
                    </li>
                </ul>
            </dd>
        </dl>

        <hr>

        <div id="formContatti" class="row">


            <div class="wufooNew columns">
                <p class="header">
                    <span class="big"><%= data.page.testataForm.prima || "RICHIEDI" %></span><br />
                    <span class="medium"><%= data.page.testataForm.seconda || "UN PREVENTIVO GRATUITO" %></span>
                </p>
                <div id="wufoo-q1wf0tmg16ukwpv">
                    Fill out my <a href="https://fucinadeltag.wufoo.com/forms/q1wf0tmg16ukwpv">online form</a>.
                </div>
                <script type="text/javascript">var q1wf0tmg16ukwpv;(function(d, t) {
                    var s = d.createElement(t), options = {
                    'userName':'fucinadeltag',
                    'formHash':'q1wf0tmg16ukwpv',
                    'autoResize':true,
                    'height':'641',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'hide',
                    'ssl':false};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { q1wf0tmg16ukwpv = new WufooForm();q1wf0tmg16ukwpv.initialize(options);q1wf0tmg16ukwpv.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');
                </script>
            </div>

            <div class="large-5 medium-5 columns">
                <h3>
                    Siamo a tua disposizione <br/>
                    <span class="small">(Lun-Ven dalle 8.30 alle 17.30)</span>
                </h3>
                <ul class="large-block-grid-1">
                    <li>
                        <h5 class="subheader"><i class="fa fa-tachometer"></i> Ricevi un preventivo in pochi minuti compilando il form</h5>
                    </li>
                    <li>
                        <h5 class="subheader"><i class="fa fa-headphones"></i> Un esperto è qui per rispondere alle tue domande</h5>
                    </li>
                    <li>
                        <h5 class="subheader"><i class="fa fa-phone"></i> Se preferisci ti chiamiamo noi al telefono, così ne parliamo</h5>
                    </li>
                    <li>
                        <div class="box_nverde">
                            <span>Usa il Numero Verde gratuito!</span><br />
                            <span class="numero"> 800 782 217 </span><br />
                            <span class="orario">Lun-Ven dalle 8.30 alle 17.30</span>
                        </div>
                    </li>
                    <li>
                        <img src="http://lh3.googleusercontent.com/-KPf0PQ1FKN0/U000JXHi_1I/AAAAAAAAlyM/p9hml4FO2sw/w400-no/_M5066A_OnSite_Angledview_lg.jpg">
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>