---
layout: page_new
title: Defibrillatori - Iredeem
immagineTestata: http://lh6.googleusercontent.com/-6NbqI831n40/U8zGTNwzOZI/AAAAAAAApEI/zsPJ-lx13gQ/w960-h426-no/iredeem_2_opt.jpg
testoTestata:   <h1>
                    <span>Iredeem</span> just in time
                </h1>
                <h2>Dealer <span>Philips</span> in Emergency Care & Resuscitation</h2>
testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: Scopri come Abilitarsi all' uso dei Defibrillatori Formando il personale della Tua Società. Iredeem Organizza Corsi nella Tua Città
showForm: true
---

<div class="row">
    <div class="large-12 columns">

        <h3>IREDEEM SRL</h3>

        <p>
            È stata costituita nel 2011 da un gruppo di imprenditori operanti nel settore delle forniture di attrezzature e prodotti consumabili in campo medicale.
        </p>
        <p>
        Il focus principale di Iredeem è la <strong>commercializzazione e la distribuzione in ambito nazionale dei prodotti PHILIPS</strong> in capo alla divisione <i>PHILIPS EMERGENCY CARE & RESUSCITATION</i>, leader nel mondo nella tecnologia della defibrillazione.
        La società opera con una sede Commerciale a Bologna, una sede Amministrativa e di Distribuzione in Settimo Torinese (TO) ed una <strong>rete di Agenzie in tutte le regioni d’Italia</strong>.
        </p>
        <p>
            <strong>
                IREDEEM srl<br />
                Via Cesare Boldrini 20<br />
                40121 Bologna<br />
            </strong>
        </p>
        <p>
        Presso la sede di Settimo Torinese è inoltre strutturato il <strong>servizio di Assistenza tecnica</strong>.
        </p>
    </div>
    <hr />
</div>

<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader">
            Certified ISO 9001
        </h3>
        <div class="row">
            <div class="large-3 columns">
                <img src="http://lh6.googleusercontent.com/-8lr7ztGACi8/U8y7eONbA7I/AAAAAAAApBE/E-EO8mTOhKo/w190-h128-no/LogoCsqIqnet.jpg">
            </div>

            <div class="large-9 columns small">
                <p>
                    Nel 2013 IREDEEM ha ottenuto la certificazione di qualità ISO 9001.
                </p>
            </div>
        </div>

        <hr />
    </div>
</div>


<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader">
            Marchi distribuiti:
        </h3>
        <ul class="large-block-grid-3 medium-block-grid-3 marchi">
            <li>
                <img src="http://lh6.googleusercontent.com/-gFsv8Ps7DXk/U8y9WXV_ToI/AAAAAAAApCE/fIOgE4EBxf4/w191-h72-no/LogoPhilips.jpg">
                <br />
                <p>
                    Defibrillatore Multiparametrico<br />
                    Defibrillatore Semiautomatico<br />
                    Monito Philips
                </p>
            </li>
            <li>
                <img src="http://lh5.googleusercontent.com/-CnpdYLCdbKs/U8y9Vhp65mI/AAAAAAAApCU/zhcx6rUBXFo/w267-h91-no/LogoIREDEEM.jpg">
                <br />
                <p class="didascalia">
                    Defibrillatore Semiautomatico<br />
                </p>
            </li>
            <li>
                <img src="http://lh4.googleusercontent.com/-kG0r3WlYjNw/U8y9VBnep3I/AAAAAAAApB0/8UMLew34-XQ/w212-h63-no/LogoEMCOOLS.jpg">
                <br />
                <p class="didascalia">
                    Ipotermia Terapeutica<br />
                </p>
            </li>
            <li>
                <img src="http://lh3.googleusercontent.com/-zOYMTt9-EPM/U8y9XWV73tI/AAAAAAAApCM/k-hOndg5raI/w150-h104-no/LogoPrestan.jpg">
                <br />
                <p class="didascalia">
                    Manichini Prestan<br />
                </p>
            </li>
            <li>
                <img src="http://lh6.googleusercontent.com/-h2r-9ANvsd4/U8y9VAC-WEI/AAAAAAAApBs/TDzxK3CEbN0/w191-h65-no/LogoGoldway.jpg">
                <br />
                <p class="didascalia">
                    Monito Goldway<br />
                </p>
            </li>
            <li>
                <img src="http://lh4.googleusercontent.com/-HfT_wx01Etg/U8y9V7uBCKI/AAAAAAAApB8/BnwLbCIN-f0/w191-h49-no/LogoO-Two.jpg">
                <br />
                <p class="didascalia">
                    Palloni rianimatori e maschere per Ventilazione<br />
                </p>
            </li>
            <li>
                <img src="http://lh6.googleusercontent.com/-bAateXdqp3A/U8y9VLQDeAI/AAAAAAAApCY/M32r60wLfMY/w297-h25-no/LogoControlsYou.jpg">
                <br />
                <p class="didascalia">
                    Sistema di Telecontrollo per DAE<br />
                </p>
            </li>
        </ul>
    </div>
</div>