---
title: Prezzi Defibrillatori Philips
immagineTestata: http://lh6.googleusercontent.com/-1z8w1vHopnI/U05i11LAc9I/AAAAAAAAl-M/jf6EKiTl_Tg/w980-h336-no/defibrillatore.jpg
testoTestata:   <h1>
                    <span>Sconto del 38%</span><br />
                    Fino al 30 Aprile 2014
                </h1>
testataForm:
    prima:  RICHIEDI
    seconda: UN PREVENTIVO GRATUITO
metadata:
    description: Prezzo del Defibrillatore. Scopri subito online quanto costa il Defibrillatore Philips e approfitta dell' offerta.
showForm: true

---
<%= partial "partials/banner_promo" %>

<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader">L'offerta comprende:</h3>

        <ul class="large-block-grid-2">
            <li>

                <h4 class="subheader"><i class="fa fa-thumbs-up"></i> Defibrillatore</h4>

                    <ul>
                        <li>DEFIBRILLATORE Heartstart HS1</li>
                        <li>Garanzia 8 anni</li>
                        <li>Elettrodi per adulti e pediatrici</li>
                        <li>Batteria e valigetta</li>
                    </ul>

            </li>

            <li>

                <h4 class="subheader"><i class="fa fa-thumbs-up"></i> Servizio</h4>

                <ul>
                    <li>Messa in opera, collaudo</li>
                    <li>Aggiornamenti</li>
                    <li>Assistenza in tutta Italia</li>
                    <li>Dimostrazioni presso la tua sede</li>
                </ul>

            </li>
        </ul>

        <hr />

        <h4 class="subheader">
            Corso BLSD di abilitazione all'uso
        </h4>
        <div class="row">
            <div class="large-2 columns">
                <img src="http://lh6.googleusercontent.com/-F4XR2JjR9fU/U09fWfaq2aI/AAAAAAAAmHs/o2RyyLlmNM4/w120-h100-no/logo-irc2.jpg">
            </div>

            <div class="large-10 columns">
                <p>
                    Corso di abilitazione all'uso del defibrillatore al prezzo speciale di
                    <strong>€60 a persona, acquistando un defibrillatore Philips</strong>.
                    Alla fine del corso verrà rilasciato un certificato di abilitazione all'uso valido nei termini di legge.
                </p>
            </div>
        </div>

        <hr />

        <h3 class="subheader">Accessori Disponibili:</h3>

        <ul class="large-block-grid-4">

            <li>
                <h6 class="subheader">Coppia di elettrodi per pediatrici</h6>
                <img src="http://lh4.googleusercontent.com/-valbj56vF-g/U058wAazXWI/AAAAAAAAmGA/IO8HlzTffCQ/h300-no/M5072A.jpg">
            </li>

            <li>
                <h6 class="subheader">Coppia di elettrodi per adulti</h6>
                <img src="http://lh4.googleusercontent.com/-N0T-WJk1Ivs/U058vXnG7WI/AAAAAAAAmF4/T_R_ELYRRc0/h300-no/M5071A.jpg">
            </li>

            <li>
                <h6 class="subheader">Staffa per fissaggio a parete</h6>
                <img src="http://lh6.googleusercontent.com/-zo_PRnz74dw/U058d1qDtGI/AAAAAAAAmCs/3Pqw2xiYU5o/h300-no/989803170891.jpg">
            </li>

            <li>
                <h6 class="subheader">Batteria</h6>
                <img src="https://lh4.googleusercontent.com/-8tR0lhEv7ew/U058utkdVMI/AAAAAAAAmFs/k-k0wZ4boRg/h300-no/M5070A.jpg">
            </li>

        </ul>



    </div>
</div>