---
layout: easy
title: Prezzi Defibrillatori Philips
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>Privacy Policies</h1>

testataForm:
    prima:
    seconda:
metadata:
    description: Prezzo del Defibrillatore. Scopri subito online quanto costa il Defibrillatore Philips e approfitta dell' offerta.
showForm: false

---


<div class="container">
    <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'it', includedLanguages: 'en'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div id="privacy">
        <h1>INFORMATIVA AI SENSI DELL'ART. 13 DEL DECRETO LEGISLATIVO 30 GIUGNO 2003 - CODICE IN MATERIA DI PROTEZIONE DEI DATI PERSONALI</h1>

        <h2>I) Introduzione sul nuovo Codice in materia di protezione dei dati personali e glossario dei termini utilizzati</h2>

        Il Codice ora in vigore riunisce in unico contesto la legge 675/1996 e gli altri decreti legislativi, regolamenti e codici deontologici che si sono succeduti in questi anni, e contiene anche importanti innovazioni tenendo conto della "giurisprudenza" del Garante per la protezione dei dati personali e della direttiva Ue 2000/58 sulla riservatezza nelle comunicazioni elettroniche.
        <br />Il Decreto Legislativo n.196 del 30 giugno 2003 introduce significative novità, fra cui una più chiara terminologia e una migliore definizione di concetti di base. In questa sede riteniamo utile riportare l'art. 4 del Decreto al fine di consentire una migliore comprensione della normativa:

        <h3>Art. 4. Decreto Legislativo n.196 del 30 giugno 2003</h3>


        <h3>Definizioni</h3>

        <h3>1. Ai fini del presente codice si intende per:</h3>
        <ol type="a">
            <li>"trattamento", qualunque operazione o complesso di operazioni, effettuati anche senza l'ausilio di strumenti elettronici, concernenti la raccolta, la registrazione, l'organizzazione, la conservazione, la consultazione, l'elaborazione, la modificazione, la selezione, l'estrazione, il raffronto, l'utilizzo, l'interconnessione, il blocco, la comunicazione, la diffusione, la cancellazione e la distruzione di dati, anche se non registrati in una banca di dati;
            <li>"dato personale", qualunque informazione relativa a persona fisica, persona giuridica, ente od associazione, identificati o identificabili, anche indirettamente, mediante riferimento a qualsiasi altra informazione, ivi compreso un numero di identificazione personale;
            <li>"dati identificativi", i dati personali che permettono l'identificazione diretta dell'interessato;
            <li>"dati sensibili", i dati personali idonei a rivelare l'origine razziale ed etnica, le convinzioni religiose, filosofiche o di altro genere, le opinioni politiche, l'adesione a partiti, sindacati, associazioni od organizzazioni a carattere religioso, filosofico, politico o sindacale, nonchè i dati personali idonei a rivelare lo stato di salute e la vita sessuale;
            <li>"dati giudiziari", i dati personali idonei a rivelare provvedimenti di cui all'articolo 3, comma 1, lettere da a) a o) e da r) a u), del d.P.R. 14 novembre 2002, n. 313, in materia di casellario giudiziale, di anagrafe delle sanzioni amministrative dipendenti da reato e dei relativi carichi pendenti, o la qualità di imputato o di indagato ai sensi degli articoli 60 e 61 del codice di procedura penale;
            <li>"titolare", la persona fisica, la persona giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo cui competono, anche unitamente ad altro titolare, le decisioni in ordine alle finalità, alle modalità del trattamento di dati personali e agli strumenti utilizzati, ivi compreso il profilo della sicurezza;
            <li>"responsabile", la persona fisica, la persona giuridica, la pubblica amministrazione e qualsiasi altro ente, associazione od organismo preposti dal titolare al trattamento di dati personali;
            <li>"incaricati", le persone fisiche autorizzate a compiere operazioni di trattamento dal titolare o dal responsabile;
            <li>"interessato", la persona fisica, la persona giuridica, l'ente o l'associazione cui si riferiscono i dati personali;
            <li>"comunicazione", il dare conoscenza dei dati personali a uno o più soggetti determinati diversi dall'interessato, dal rappresentante del titolare nel territorio dello Stato, dal responsabile e dagli incaricati, in qualunque forma, anche mediante la loro messa a disposizione o consultazione;
            <li>"diffusione", il dare conoscenza dei dati personali a soggetti indeterminati, in qualunque forma, anche mediante la loro messa a disposizione o consultazione;
            <li>"dato anonimo", il dato che in origine, o a seguito di trattamento, non può essere associato ad un interessato identificato o identificabile;
            <li>"blocco", la conservazione di dati personali con sospensione temporanea di ogni altra operazione del trattamento;
            <li>"banca di dati", qualsiasi complesso organizzato di dati personali, ripartito in una o più unità dislocate in uno o più siti;
            <li>"Garante", l'autorità di cui all'articolo 153, istituita dalla legge 31 dicembre 1996, n. 675.
        </ol>


        <h3>2. Ai fini del presente codice si intende, inoltre, per:</h3>
        <ol type="a">
            <li>"comunicazione elettronica", ogni informazione scambiata o trasmessa tra un numero finito di soggetti tramite un servizio di comunicazione elettronica accessibile al pubblico. Sono escluse le informazioni trasmesse al pubblico tramite una rete di comunicazione elettronica, come parte di un servizio di radiodiffusione, salvo che le stesse informazioni siano collegate ad un abbonato o utente ricevente, identificato o identificabile;</li>
            <li>"chiamata", la connessione istituita da un servizio telefonico accessibile al pubblico, che consente la comunicazione bidirezionale in tempo reale;</li>
            <li>"reti di comunicazione elettronica", i sistemi di trasmissione, le apparecchiature di commutazione o di instradamento e altre risorse che consentono di trasmettere segnali via cavo, via radio, a mezzo di fibre ottiche o con altri mezzi elettromagnetici, incluse le reti satellitari, le reti terrestri mobili e fisse a commutazione di circuito e a commutazione di pacchetto, compresa Internet, le reti utilizzate per la diffusione circolare dei programmi sonori e televisivi, i sistemi per il trasporto della corrente elettrica, nella misura in cui sono utilizzati per trasmettere i segnali, le reti televisive via cavo, indipendentemente dal tipo di informazione trasportato;</li>
            <li>"rete pubblica di comunicazioni", una rete di comunicazioni elettroniche utilizzata interamente o prevalentemente per fornire servizi di comunicazione elettronica accessibili al pubblico;</li>

            <li>"servizio di comunicazione elettronica", i servizi consistenti esclusivamente o prevalentemente nella trasmissione di segnali su reti di comunicazioni elettroniche, compresi i servizi di telecomunicazioni e i servizi di trasmissione nelle reti utilizzate per la diffusione circolare radiotelevisiva, nei limiti previsti dall'articolo 2, lettera c), della direttiva 2002/21/CE del Parlamento europeo e del Consiglio, del 7 marzo 2002;</li>
            <li>"abbonato", qualunque persona fisica, persona giuridica, ente o associazione parte di un contratto con un fornitore di servizi di comunicazione elettronica accessibili al pubblico per la fornitura ditali servizi, o comunque destinatario di tali servizi tramite schede prepagate;</li>
            <li>"utente", qualsiasi persona fisica che utilizza un servizio di comunicazione elettronica accessibile al pubblico, per motivi privati o commerciali, senza esservi necessariamente abbonata;</li>
            <li>"dati relativi al traffico", qualsiasi dato sottoposto a trattamento ai fini della trasmissione di una comunicazione su una rete di comunicazione elettronica o della relativa fatturazione;</li>
            <li>"dati relativi all'ubicazione", ogni dato trattato in una rete di comunicazione elettronica che indica la posizione geografica dell'apparecchiatura terminale dell'utente di un servizio di comunicazione elettronica accessibile al pubblico;</li>
            <li>"servizio a valore aggiunto", il servizio che richiede il trattamento dei dati relativi al traffico o dei dati relativi all'ubicazione diversi dai dati relativi al traffico, oltre a quanto è necessario per la trasmissione di una comunicazione o della relativa fatturazione;</li>

            <li>"posta elettronica", messaggi contenenti testi, voci, suoni o immagini trasmessi attraverso una rete pubblica di comunicazione, che possono essere archiviati in rete o nell'apparecchiatura terminale ricevente, fino a che il ricevente non ne ha preso conoscenza.</li>
        </ol>

        <h3>3. Ai fini del presente codice si intende, altresì, per:</h3>
        <ol type="a">
            <li>"misure minime", il complesso delle misure tecniche, informatiche, organizzative, logistiche e procedurali di sicurezza che configurano il livello minimo di protezione richiesto in relazione ai rischi previsti nell'articolo 31;</li>
            <li>"strumenti elettronici", gli elaboratori, i programmi per elaboratori e qualunque dispositivo elettronico o comunque automatizzato con cui si effettua il trattamento;</li>

            <li>"autenticazione informatica", l'insieme degli strumenti elettronici e delle procedure per la verifica anche indiretta dell'identità;</li>
            <li>"credenziali di autenticazione", i dati ed i dispositivi, in possesso di una persona, da questa conosciuti o ad essa univocamente correlati, utilizzati per l'autenticazione informatica;</li>
            <li>"parola chiave", componente di una credenziale di autenticazione associata ad una persona ed a questa nota, costituita da una sequenza di caratteri o altri dati in forma elettronica;</li>
            <li>"profilo di autorizzazione", l'insieme delle informazioni, univocamente associate ad una persona, che consente di individuare a quali dati essa può accedere, nonchè i trattamenti ad essa consentiti;</li>

            <li>"sistema di autorizzazione", l'insieme degli strumenti e delle procedure che abilitano l'accesso ai dati e alle modalità di trattamento degli stessi, in funzione del profilo di autorizzazione del richiedente.</li>
        </ol>

        <h3>4. Ai fini del presente codice si intende per:</h3>
        <ol type="a">
            <li>"scopi storici", le finalità di studio, indagine, ricerca e documentazione di figure, fatti e circostanze del passato;</li>

            <li>"scopi statistici", le finalità di indagine statistica o di produzione di risultati statistici, anche a mezzo di sistemi informativi statistici;</li>
            <li>"scopi scientifici", le finalità di studio e di indagine sistematica finalizzata allo sviluppo delle conoscenze scientifiche in uno specifico settore.</li>
        </ol>

        <h2>II) Ai sensi e per gli effetti dell'art. 13 del Decreto Legislativo 30 giugno 2003 n.196, si rende noto quanto segue:</h2>

        <h3>1. i dati personali da Lei volontariamente forniti all'atto di compilazione del Modulo di Registrazione saranno oggetto di trattamento, anche mediante utilizzo di procedure informatiche e telematiche, per le seguenti finalità:</h3>


        <ol type="i">
            <li>finalità direttamente connesse e strumentali all'erogazione del Prodotto/Servizio della società {{c.getRagioneSocialeCliente ()}} (d'ora in poi "Azienda Cliente") e di Fucina del Tag di Lorenzo Caldara;</li>
            <li>indagini di mercato, invio di materiale pubblicitario, attività di marketing e di informazioni commerciali relative a prodotti e servizi dell'Azienda Cliente nonché di Fucina del Tag di Lorenzo Caldara o di terzi, in qualsiasi modo e con qualsiasi mezzo effettuate;</li>
            <li>rilevazione del grado di soddisfazione dell'utente sulla qualità dei prodotti e/o servizi resi e sull'attività svolta dall'Azienda Cliente nonché da altre, da Fucina del Tag di Lorenzo Caldara o da terzi, eseguita direttamente o attraverso l'opera di società specializzate mediante interviste personali o telefoniche, questionari, ecc.;</li>

            <li>analisi statistiche.</li>
        </ol>

        La collaborazione tra Azienda Cliente e Fucina del Tag di Lorenzo Caldara, in conformità alle Condizioni Generali di Contratto tra le sopracitate società, comporta altresì che i dati personali, nel rispetto delle modalità di cui sopra, possono essere detenuti su supporti informatici presso la società di Fucina del Tag di Lorenzo Caldara.


            <h3>2. I dati personali potranno essere comunicati da Fucina del Tag di Lorenzo Caldara alle categorie di soggetti di seguito esemplificate, per tutte le finalità indicate in precedenza al punto II.1 della presente informativa:</h3>

        <ol type="i">
            <li>altre Società aventi contratto con Fucina del Tag di Lorenzo Caldara o a terzi soggetti, incaricati dell'esecuzione di attività direttamente connesse e strumentali all'erogazione del Servizio o con i quali Fucina del Tag di Lorenzo Caldara o altre Società aventi contratto con Fucina del Tag di Lorenzo Caldara abbiano stipulato accordi commerciali funzionali alla diffusione ed allo sviluppo del Servizio; e/o</li>
            <li>altre società che offrono beni e/o servizi appartenenti a categorie merceologiche pubblicizzate attraverso la rete Internet, con le quali Fucina del Tag di Lorenzo Caldara abbiano stipulato accordi commerciali.</li>
        </ol>


        <h3>3. I suoi dati personali potranno essere oggetto di trattamento, per le finalità di cui al punto 1 della presente informativa, anche attraverso le seguenti modalità: telefax, telefono, anche senza assistenza di operatore, posta elettronica, SMS ed altri sistemi informatici e/o automatizzati di comunicazione. Aderendo a questo form Ella esprime anche espresso e specifico  consenso al trattamento dei Suoi dati personali con le modalità e per le finalità indicate ai precedenti punti 1-ii e iii, 2 nonché al presente punto 3.</h3>

        <h3>4. I suoi dati personali potranno essere trasferiti all'estero in conformità e nei limiti di cui agli articoli 42, 43, 44, 45 del Titolo VII: Trasferimento dei Dati all'Estero contenuto nel Decreto Legislativo n.196 del 30 giugno 2003. Aderendo a questo form Ella consente inoltre espressamente, a norma dell'art. 43, co. 1°, lett. a) al trasferimento dei Suoi dati personali verso paesi non appartenenti all'Unione Europea.
    </h3>


        <h3>5. In relazione al suddetto trattamento di dati personali, Lei gode dei diritti di cui all'art. 7 del Decreto Legislativo 196/2003; in particolare, ai sensi di tale articolo, Lei può:</h3>
        <ol type="i">
            <li>ottenere informazioni sui Dati che La riguardano (origine, finalità e modalità del trattamento, logica applicata al trattamento effettuato con l'ausilio di strumenti elettronici, soggetti ai quali i dati possono venire comunicati, o che possono venirne a conoscenza in qualità di rappresentante nel territorio dello stato, responsabile o incaricato);</li>
            <li>ottenere l'aggiornamento, la rettificazione, ovvero, quando vi ha interesse, l'integrazione dei Dati;</li>

            <li>ottenere la cancellazione, la trasformazione in forma anonima o il blocco dei Dati trattati in violazione di Legge;</li>
            <li>l'attestazione che le operazioni di cui al punto 5 (ii) e 5 (iii) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato;</li>
            <li>Lei ha diritto di opporsi, in tutto o in parte, per motivi legittimi al trattamento dei dati personali che La riguardano, ancorchè pertinenti allo scopo della raccolta;</li>
            <li>Lei ha diritto di opporsi, in tutto o in parte, per motivi legittimi al trattamento di dati personali che La riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale da parte di Fucina del Tag di Lorenzo Caldara, dell'Azienda Cliente o di terzi;</li>

                    <li>Titolare del trattamento è Fucina del Tag di Lorenzo Caldara con sede in Via Ampere 61/A - 20121 Milano.<br />Responsabili del trattamento è: Lorenzo Caldara.</li>



        </ol>
        <p>In particolare, qualora Lei inoltri a Fucina del Tag di Lorenzo Caldara la richiesta di cancellazione dei suoi dati personali in conformità all'art. art. 7 del Decreto Legislativo 196/2003, Fucina del Tag di Lorenzo Caldara provvederà immediatamente a tale cancellazione senza ulteriori avvisi e/o comunicazioni e ciò; comporterà l'immediata cessazione del Servizio.</p>
        <p>Per esercitare i suddetti diritti, per ogni comunicazione e/o richiesta in relazione al trattamento dei suoi dati personali, La preghiamo di scrivere a lorenzo@fucinadeltag.it oppure inviare una raccomandata A.R. al seguente indirizzo: Fucina del Tag di Lorenzo Caldara - Sede Operativa, Via Ampere 61/A - 20121 Milano</p>


        <h3>6. L'acquisizione dei dati personali ha natura facoltativa. Tuttavia, il mancato conferimento, anche parziale, dei dati personali richiesti per la compilazione del Modulo di Registrazione ed ai fini di cui al precedente punto II 1, lettera (i) della presente informativa determinerà l'impossibilità per Azienda Cliente e per Fucina del Tag di Lorenzo Caldara di procedere alla completa erogazione del Servizio stesso. La Modalità del trattamento dei dati è la seguente:</h3>
        <ol type="i">
            <li>all'atto della compilazione del Modulo di Registrazione, Lei è invitato a fornire: nome, cognome, città, provincia, numero telefonico, indirizzo e-mail, professione ed orario di richiamo.</li>

            <li>il conferimento dei Dati di cui al punto (i) è assolutamente facoltativo. L'eventuale rifiuto di conferire i Dati non comporta alcuna conseguenza, salvo l'impossibilità di fruire dei servizi offerti da Azienda Cliente e da Fucina del Tag di Lorenzo Caldara.</li>
            <li>all'atto della compilazione del Modulo di Registrazione, Lei è invitato a fornire E-mail alternativa. L'eventuale rifiuto di conferire questo Dato non comporta alcuna conseguenza, salvo l'impossibilità di fruire dei Servizi offerti da Azienda Cliente e da Fucina del Tag di Lorenzo Caldara.</li>
            <li>all'atto della compilazione del Modulo di Registrazione, Lei è invitato a fornire Numero di cellulare. L'eventuale rifiuto di conferire questo Dato non comporta alcuna conseguenza, salvo l'impossibilità di fruire dei Servizi SMS offerti da Azienda Cliente e da Fucina del Tag di Lorenzo Caldara.</li>

        </ol>

        <h3>7. Misure di Sicurezza</h3>
        Fucina del Tag di Lorenzo Caldara garantisce che i Suoi dati saranno tutelati da adeguate misure di protezione, in base a quanto disposto dal Titolo V - Sicurezza dei dati e dei sistemi, Capo I - Misure di sicurezza e Capo II Misure minime di sicurezza, con riferimento agli artt. 31, 32, 33, 34, 35, 36 del Decreto Legislativo n.196 del 30 giugno 2003.
        <br />In particolare Fucina del Tag di Lorenzo Caldara attuerà le idonee procedure atte a ridurre i rischi di distruzione o perdita, anche accidentale, dei dati, o di accesso non autorizzato, o di trattamento non consentito o non conforme alle finalità della raccolta.
        <br />Data la natura della rete Internet e le sue caratteristiche tecniche, non possono essere escluse situazioni che permettano a terzi di apprendere il contenuto di comunicazioni o messaggi trasmessi attraverso la rete medesima.
    </div>
</div>