---
layout: master_layout
title: Defibrillatori - Obbligatori per le Società Sportive
immagineTestata: http://lh5.googleusercontent.com/-Rl53WkxXEw0/U0JJH6E7OjI/AAAAAAAAjL8/u36tduwBaD4/w960-h330-no/defibrillatori_legge.jpg
testoTestata:   <h1>
                    Defibrillatore Philips Heartstart HS1
                </h1>
                <h2><span>50% Sconto</span> fino al 30 Ottobre.</h2>
testataForm:
    prima:  ACQUISTA SUBITO
    seconda: Gratuito e senza impegno
metadata:
    description: La Legge Italiana prevede l’obbligatorietà di Dotarsi di Defibrillatori e di Formare il Personale Addetto. Scopri subito se la Tua società rientra tra queste!
showForm: false
conversionCode: >
                    <!-- FOXYCART -->
                    <script src="//cdn.foxycart.com/defibrillatori-online/loader.js" async defer></script>
                    <!-- /FOXYCART -->
---

<!-- Nav Bar -->
    <div class="contain-to-grid menu show-for-medium-up">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <!--http://lh6.googleusercontent.com/-34YbdpE2f6c/U0025W216cI/AAAAAAAAlzE/-OIpzXG15X4/w160-h60-no/logo.png -->
                    <img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png">
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
        </nav>
    </div>

<div class="row">
    <div class="large-12 hide-for-small">
        <h1 class="title_promozione">
            Defibrillatore Philips Modello Heartstart HS1
        </h1>
    </div>

</div>

<div class="row">

    <div class="large-5 medium-5 columns">
        <%= tag :img, :src => "http://lh3.googleusercontent.com/m8522kyCjsLuB7qsgId5sFrguYmMexCeBJNcQBQ-BinD=w500-h400-no", :title => "Defibrillatore Philips Heartstart HS1" %>
    </div>

    <div class="large-7 medium-7 columns">
        <div class="row">
            <div class="large-12 hide-for-small columns">
                <span class="prezzo_promozione"> EURO 890,00 </span> + IVA
                <br />
                <span class="precentuale_sconto">50% Sconto</span>
                <span class="prezzo_originale">(<del>1.700,00 EURO</del>)</span>
                <p>
                    <form action="https://defibrillatori-online.foxycart.com/cart" method="post" accept-charset="utf-8">
                    <input type="hidden" name="name" value="Defibrillatore Heartstart HS1" />
                    <input type="hidden" name="price" value="890" />
                    <input type="hidden" name="code" value="M12345" />
                    <input type="hidden" name="image" value="http://lh3.googleusercontent.com/m8522kyCjsLuB7qsgId5sFrguYmMexCeBJNcQBQ-BinD=w500-h400-no" />
                    <input type="submit" value="Acquista Subito" class="large button round expand" />
                    </form>
                </p>
            </div>
        </div>
        <div class="row center">
            <div class="large-12 hide-for-small columns">
                <span class="evidenza"><i>Prezzo valido fino al 30 Ottobre!</i></span>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-12 columns">
                <h5 class="subheader">Accessori:</h5>
                <ul class="small">
                    <li>1 Coppia elettrodi adulti - Lunghezza cavo cm. 122 circa (durata 2 anni)</li>
                    <li>1 Coppia elettrodi pediatrici - Lunghezza cavo cm. 122 circa (durata 2 anni)</li>
                    <li>1 Batteria al litio biossido di manganese, non ricaricabile (durata 4 anni)</li>
                    <li>Valigetta semirigida in cordura, con maniglia e cerniera sui tre lati e forbici taglia indumenti</li>
                </ul>
            </div>
        </div>
    </div>
<hr>

<div class="row">

    <div class="large-12 columns">
        <ul class="large-block-grid-1 medium-block-grid-1 small subtext">
            <li><i class="fa fa-suitcase"></i> Garanzia 8 anni - da nostro centro assistenza - sulle componenti tecnologiche del defibrillatore</li>
            <li><i class="fa fa-calendar"></i> Aggiornamento gratuito in caso di modifica dei protocolli di sicurezza</li>
            <li><i class="fa fa-plane"></i> Spedizione Gratuita</li>
            <li><i class="fa fa-wrench"></i> Messa in opera e collaudo presso la sede del cliente</li>
        </ul>
    </div>



</div>






<%= partial "footer" %>