---
layout: master_layout
title: Defibrillatori - Obbligatori per le Società Sportive
immagineTestata: http://lh5.googleusercontent.com/-1Kh5qAWGLCU/U00xs0Ic27I/AAAAAAAAlkY/HViPE7Vli-w/w960-h426-no/img_head.jpg
testoTestata:   <h1>
                    Defibrillatore Philips Heartstart HS1
                </h1>
                <h2><span>50% Sconto</span> fino al 30 Ottobre.</h2>
testataForm:
    prima:  ACQUISTA SUBITO
    seconda: Gratuito e senza impegno
metadata:
    description: La Legge Italiana prevede l’obbligatorietà di Dotarsi di Defibrillatori e di Formare il Personale Addetto. Scopri subito se la Tua società rientra tra queste!
showForm: false
conversionCode: >
                    <script type="text/javascript"
                        src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
                    </script>

                    <script type="text/javascript"
                      id="snipcart"
                      src="https://cdn.snipcart.com/scripts/snipcart.js"
                      data-api-key="N2EzMWYxMWUtN2Q1Zi00OTQ5LTljZGEtZjliOTU5MzRmM2M3"></script>

                    <script type="text/javascript">
                        Snipcart.execute('bind', 'app.ready', function() {
                            Snipcart.execute('registerLocale', 'it', {
                                                            "name": "Nome e Cognome"
                                            });
                        });
                    </script>
                    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
                    <script type="text/javascript">
                           $('.slider-for').slick({
                              slidesToShow: 1,
                              slidesToScroll: 1,
                              arrows: false,
                              fade: true,
                              asNavFor: '.slider-nav'
                            });
                            $('.slider-nav').slick({
                              slidesToShow: 3,
                              slidesToScroll: 1,
                              asNavFor: '.slider-for',
                              dots: false,
                              arrows: false,
                              centerMode: false,
                              focusOnSelect: true
                            });
                    </script>

buyBlock: >
    <div class="small-12 columns">
        <h1>
            <strong>Defibrillatore Philips HS1</strong>
        </h1>
        <span class="prezzo_promozione">€ 966,31</span> + IVA
        <br />
        <span class="precentuale_sconto show-for-medium-up">Prezzo di Listino: <del>€ 1.783,00</del></span><br />
        <span class="evidenza "><i>Prezzo valido fino al 3 Novembre!</i></span><br /><br />
        <a href="#"
            class="large button round expand snipcart-add-item"
            data-item-id="M5066A-M5071A-M5072A"
            data-item-name="Defibrillatore Philips HS1"
            data-item-price="966.31"
            data-item-url="/promozione"
            data-item-image ="http://lh3.googleusercontent.com/m8522kyCjsLuB7qsgId5sFrguYmMexCeBJNcQBQ-BinD=w500-h400-no"
            data-item-description="Completo di batteria, coppia elettrodi adulti, coppia elettrici pediatrici e Valiggetta semirigida. Garanzia 8 anni">
            Acquista Subito!
        </a>

    </div>

---

<!-- Nav Bar -->
    <div class="contain-to-grid menu show-for-medium-up">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <!--http://lh6.googleusercontent.com/-34YbdpE2f6c/U0025W216cI/AAAAAAAAlzE/-OIpzXG15X4/w160-h60-no/logo.png -->
                    <img alt="Defibrillatori Philips" src="https://lh3.googleusercontent.com/-g4HJf2yMKsE/U02kMhfilgI/AAAAAAAAl0E/KJAx2bDXdTk/w150-h44-no/logo_piccolo.png">
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <span class="verde">Numero Verde 800 782 217</span>

                </ul>

            </section>
        </nav>
    </div>

<div class="row show-for-medium-up">
    <div class="large-12 medium-12 columns">
        <div class="row">
            <div class="large-12">
                <div id="featured">
                    <%= tag :img, :src => current_page.data.immagineTestata, :title => current_page.data.title, :id => 'image-testata' %>
                </div>
            </div>
        </div>
        <div class="row over center hide-for-medium hide-for-small">
            <%= current_page.data.buyBlock %>
        </div>
    </div>
</div>
<div class="row hide-for-large">
    <%= current_page.data.buyBlock %>
</div>
<p></p>

<div class="row">
    <div class="large-12 medium-12 columns">
        <div class="row">
            <div class="medium-6 large-6 columns">
                <h3 class="subheader"><i>Incluso nel prezzo</i></h3>
                    <p><i class="fa fa-check-square-o"></i> Defibrillatore semiautomatico Philips HS1</p>
                    <p><i class="fa fa-check-square-o"></i> Coppia di Elettrodi per Adulti</p>
                    <p><i class="fa fa-check-square-o"></i> Coppia di Elettrodi Pediatrici</p>
                    <p><i class="fa fa-check-square-o"></i> Batteria (durata 4 anni)</p>
                    <p><i class="fa fa-check-square-o"></i> Valigetta Semirigida</p>
                    <p><i class="fa fa-check-square-o"></i> Forbici taglia Indumenti</p>
            </div>
            <div class="medium-6 large-6 columns">
                <div class="row panel">
                    <div class="large-3 columns">
                        <span class="iconBig"><i class="fa fa-truck"></i></span>
                    </div>
                    <div class="large-9 columns">
                        <strong>Spedizione Gratuita</strong><br>
                        Spedizione con corriere espresso gratuita entro una settimana!
                    </div>
                </div>
                <br />
                <div class="row panel">
                    <div class="large-3 columns">
                        <span class="iconBig"><i class="fa fa-thumbs-up"></i></span>
                    </div>
                    <div class="large-9 columns">
                        <strong>Collaudo Gratuito</strong><br>
                        Collaudo e messa in opera gratuita da parte di un nostro tecnico!
                    </div>
                </div>

                <br />
                <div class="row panel">
                    <div class="large-3 columns">
                        <span class="iconBig"><i class="fa fa-wrench"></i></span>
                    </div>
                    <div class="large-9 columns">
                        <strong>8 anni di Garanzia</strong><br>
                        Garantito 8 anni presso i nostri centri in tutta italia!
                    </div>
                </div>



            </div>
        </div>
<p></p>
</div>






<%= partial "footer" %>