---
layout: page_new
title: Philips - Defibrillatore Semiautomatico - Puoi Salvare una Vita!
immagineTestata: https://lh6.googleusercontent.com/-VB011poFTxY/U-BpeFCxEUI/AAAAAAAApOs/d82CkmsIwCA/w1113-h524-no/Img_20140724_1605_48272.jpg
testoTestata:   <h1>
                    <div id="prima-linea">Defibrillatore <span>Philips</span></div>
                    <div id="seconda-linea">Ideale per la tua squadra!</div>
                </h1>

testataForm:
    prima:  CALCOLA IL TUO PREVENTIVO
    seconda: Gratuito e senza impegno
metadata:
    description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
showForm: sport
javacriptCode: >
    <script type="text/javascript">
        var manageHeaderObj = new manageHeader();
        manageHeaderObj.doManage ();
    </script>
---
<%= partial("banner_promo_large", :locals => { :bannerType => 'sport'}) %>

<p />


<div class="row">
    <div class="large-12 columns">

        <h3 class="subheader">Defibrillatori Philips - <strong>Consigliati da</strong>:</h3>

        <ul class="large-block-grid-5 medium-block-grid-4 small">
            <li>
                <img src="http://lh3.googleusercontent.com/-6FX1ifNm8ms/U99204rkKFI/AAAAAAAApJo/0ovsUZ2o2Mg/w321-h324-no/lega-nazionale-dilettanti.gif">
            </li>
            <li>
                <img src="http://lh5.googleusercontent.com/-v9enNOi3xZQ/U9932NZQcjI/AAAAAAAApKI/_4YSLIppVpQ/w363-h509-no/logo_fip_lazio.jpg">
            </li>
            <li>
                <img src="http://lh6.googleusercontent.com/-RTV3zPHZz3k/U994Yi_K-tI/AAAAAAAApKo/GQQYRxqW-Xw/s196-no/logo_libertas_1.gif">
            </li>
            <li>
                <img src="http://lh5.googleusercontent.com/-snH5RJDQ8oI/U9955BRawtI/AAAAAAAApLU/_eoqyO1F76Y/w321-h324-no/csi_logo.jpg">
            </li>
            <li>
                <img src="http://lh3.googleusercontent.com/-e80PImzBJnU/U996k949kSI/AAAAAAAApL4/RJYPTy-pkss/s300-no/AICS.png">
            </li>
        </ul>
    </div>
</div>

<%= partial("accordion_caratteristiche", :locals => { :accordionState => 'close'}) %>